# Google Drive API Connector
# OpenAPI 3.1 specification with Airbyte extensions

openapi: 3.1.0

info:
  title: Google Drive API Connector
  version: 0.2.5
  description: |
    Google Drive is a cloud-based file storage and synchronization service that allows users
    to store files, share content, and collaborate on documents. This connector provides
    access to files, shared drives, permissions, comments, replies, revisions,
    and change tracking, including the ability to create, update, delete, and upload files.
  x-airbyte-connector-name: google-drive
  x-airbyte-connector-definition-id: 9f8dda77-1048-4368-815b-269bf54ee9b8
  x-airbyte-replication-version: "0.5.21"
  x-airbyte-replication-compatibility: ">=0.5.21, <1.0.0"
  x-airbyte-example-questions:
    direct:
      - "List all files in my Google Drive"
      - "Show me details for a recent file"
      - "Download a recent file from my Drive"
      - "Export a recent Google Doc as PDF"
      - "Export a recent Google Sheet as CSV"
      - "Show me the content of a recent file"
      - "List all shared drives I have access to"
      - "Show me details for a shared drive I have access to"
      - "Show permissions for a recent file"
      - "List comments on a recent file"
      - "Show replies to a recent comment on a file"
      - "Show revision history for a recent file"
      - "Get my Drive storage quota and user info"
      - "List files in a folder I have access to"
      - "Create a new file in Google Drive"
      - "Upload a document to Drive"
      - "Delete a file from Drive"
      - "Move a file to a different folder"
    search:
      - "Show me files modified in the last week"
      - "What changes have been made since my last sync?"
    unsupported:
      - "Update file permissions"
      - "Add a comment to a file"
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Google Drive API Reference
      url: https://developers.google.com/workspace/drive/api/reference/rest/v3
    - type: authentication_guide
      title: Google Drive Authentication
      url: https://developers.google.com/drive/api/guides/about-auth
    - type: rate_limits
      title: Google Drive API Quotas
      url: https://developers.google.com/drive/api/guides/limits
  x-airbyte-replication-config:
    title: Replication Configuration
    description: Settings for data replication from Google Drive.
    properties:
      folder_url:
        type: string
        title: Folder URL
        description: "URL for the Google Drive folder you want to sync (e.g., https://drive.google.com/drive/folders/YOUR-FOLDER-ID)"
      streams:
        type: array
        title: Streams
        description: "Configuration for file streams to sync from Google Drive"
        items:
          type: object
    required:
      - folder_url
      - streams
    replication_config_key_mapping:
      folder_url: folder_url
      streams: streams
    replication_config_constants:
      delivery_method:
        delivery_type: use_file_transfer
        preserve_directory_structure: true
  x-airbyte-context-store:
    kind: FILES
    entities:
      - entity: files
        x-airbyte-name: files
        suggested: true
        fields:
          - name: id
            type:
              - "null"
              - string
            description: Unique identifier of the file in Google Drive.
          - name: updated_at
            type:
              - "null"
              - string
            description: Timestamp of the last modification to the file.
          - name: file_name
            type:
              - "null"
              - string
            description: Name of the file.
          - name: file_path
            type:
              - "null"
              - string
            description: Full path of the file within the synced Drive folder.
          - name: mime_type
            type:
              - "null"
              - string
            description: MIME type of the file.
          - name: content
            type:
              - "null"
              - string
            description: Extracted text content of the file.
            x-airbyte-semantic-search:
              content_type: document
              samples:
                - name: chunk
                  windowed: true
                  sampling: { sample_type: whole, unit_label: chunk }
              windowing: { context_max_chars: 2048, context_boundary: whole_unit }
              embedding: { model: text-embedding-3-small }
              metadata:
                - { name: id, path: "/id", type: string }
                - { name: updated_at, path: "/updated_at", type: string }
                - { name: file_name, path: "/file_name", type: string }
                - { name: file_path, path: "/file_path", type: string }
                - { name: mime_type, path: "/mime_type", type: string }
  x-airbyte-entity-relationships:
    - source_entity: permissions
      target_entity: files
      foreign_key: fileId
      target_key: id
      cardinality: many_to_one
    - source_entity: comments
      target_entity: files
      foreign_key: fileId
      target_key: id
      cardinality: many_to_one
    - source_entity: replies
      target_entity: files
      foreign_key: fileId
      target_key: id
      cardinality: many_to_one
    - source_entity: replies
      target_entity: comments
      foreign_key: commentId
      target_key: id
      cardinality: many_to_one
    - source_entity: revisions
      target_entity: files
      foreign_key: fileId
      target_key: id
      cardinality: many_to_one

servers:
  - url: https://www.googleapis.com
    description: Google Drive API server

security:
  - oauth2: []

paths:
  # Files endpoints
  "/drive/v3/files":
    get:
      summary: List files
      description: Lists the user's files. Returns a paginated list of files.
      operationId: listFiles
      x-airbyte-entity: files
      x-airbyte-action: list
      x-airbyte-preferred-for-check: true
      x-airbyte-record-extractor: $.files
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
        incompleteSearch: $.incompleteSearch
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of files to return per page (1-1000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
        - name: q
          in: query
          description: Query string for searching files
          required: false
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order (e.g., 'modifiedTime desc', 'name')
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: Fields to include in the response
          required: false
          schema:
            type: string
        - name: spaces
          in: query
          description: Comma-separated list of spaces to query (drive, appDataFolder)
          required: false
          schema:
            type: string
        - name: corpora
          in: query
          description: Bodies of items to search (user, drive, allDrives)
          required: false
          schema:
            type: string
        - name: driveId
          in: query
          description: ID of the shared drive to search
          required: false
          schema:
            type: string
        - name: includeItemsFromAllDrives
          in: query
          description: Whether to include items from all drives
          required: false
          schema:
            type: boolean
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: List of files
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesListResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  "/drive/v3/files/{fileId}":
    get:
      summary: Get a file
      description: Gets a file's metadata by ID
      operationId: getFile
      x-airbyte-entity: files
      x-airbyte-action: get
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: fields
          in: query
          description: Fields to include in the response
          required: false
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: File object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "404":
          description: File not found
        "401":
          description: Unauthorized

  # Create file or folder (metadata only)
  "/drive/v3/files/create":
    post:
      summary: Create a file or folder
      description: |
        Creates a new file or folder in Google Drive (metadata only, no content).
        To create a folder, set mimeType to 'application/vnd.google-apps.folder'.
        To create a Google Doc, use 'application/vnd.google-apps.document'.
        To create a Google Sheet, use 'application/vnd.google-apps.spreadsheet'.
      operationId: createFile
      x-airbyte-entity: files
      x-airbyte-action: create
      x-airbyte-path-override:
        path: /drive/v3/files
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileCreateParams"
      responses:
        "200":
          description: Created file metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  # Update file metadata
  "/drive/v3/files/{fileId}/update":
    patch:
      summary: Update file metadata
      description: |
        Updates a file's metadata. Use addParents/removeParents query parameters
        to move a file between folders.
      operationId: updateFile
      x-airbyte-entity: files
      x-airbyte-action: update
      x-airbyte-path-override:
        path: /drive/v3/files/{fileId}
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file to update
          schema:
            type: string
        - name: addParents
          in: query
          description: Comma-separated list of parent IDs to add
          required: false
          schema:
            type: string
        - name: removeParents
          in: query
          description: Comma-separated list of parent IDs to remove
          required: false
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUpdateParams"
      responses:
        "200":
          description: Updated file metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "404":
          description: File not found
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  # Delete a file
  "/drive/v3/files/{fileId}/delete":
    delete:
      summary: Delete a file
      description: Permanently deletes a file owned by the user without moving it to the trash.
      operationId: deleteFile
      x-airbyte-entity: files
      x-airbyte-action: delete
      x-airbyte-path-override:
        path: /drive/v3/files/{fileId}
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file to delete
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      responses:
        "204":
          description: File deleted successfully
        "404":
          description: File not found
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  # Upload file with content (multipart/related)
  "/upload/drive/v3/files":
    post:
      summary: Upload a file with content
      description: |
        Uploads a new file to Google Drive with both metadata and file content.
        The file content must be base64-encoded in the file_content parameter.
        Suitable for files up to 5MB. For larger files, use the Drive UI.
      operationId: uploadFile
      x-airbyte-entity: files_upload
      x-airbyte-action: create
      x-airbyte-upload-file-param: file_content
      parameters:
        - name: uploadType
          in: query
          description: The type of upload request (must be 'multipart')
          required: false
          schema:
            type: string
            enum:
              - multipart
            default: multipart
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          multipart/related:
            schema:
              $ref: "#/components/schemas/FileUploadParams"
      responses:
        "200":
          description: Uploaded file metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  # Download binary file content (non-Google Workspace files)
  "/drive/v3/files/{fileId}/download":
    get:
      summary: Download file content
      description: |
        Downloads the raw binary content of a file (PDF, image, zip, uploaded .docx/.xlsx, etc.).
        The Drive `alt=media` query parameter is applied automatically by this action, so you
        normally do NOT need to pass `alt` -- the response is the file's bytes. (Without
        `alt=media` Drive returns file metadata JSON instead of content, so it is forced here.)
        This only works for binary files: for Google Workspace files (Docs, Sheets, Slides,
        Drawings) use the `files_export` action with a `mimeType` instead -- downloading them
        directly returns 403.
      operationId: downloadFile
      x-airbyte-entity: files
      x-airbyte-action: download
      x-airbyte-path-override:
        path: /drive/v3/files/{fileId}
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file to download
          schema:
            type: string
        - name: alt
          in: query
          required: false
          description: Applied automatically as 'media' by this action; you do not need to set it.
          schema:
            type: string
            enum:
              - media
            default: media
        - name: acknowledgeAbuse
          in: query
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files
          required: false
          schema:
            type: boolean
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Binary file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: File not found
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - file may be a Google Workspace file (use export instead)

  # Export Google Workspace files
  "/drive/v3/files/{fileId}/export":
    get:
      summary: Export Google Workspace file
      description: |
        Exports a Google-NATIVE Workspace file (Docs, Sheets, Slides, Drawings --
        mimeType `application/vnd.google-apps.*`) to a specified format. Use this ONLY for
        those native types: exporting a binary file (PDF, image, uploaded .docx/.xlsx) returns
        403 `fileNotExportable` -- for those use the `files` `download` action instead. If unsure
        of a file's type, check its `mimeType` with `files.get` first.
        Common export formats:
        - application/pdf (all types)
        - text/plain (Docs)
        - text/csv (Sheets)
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document (Docs to .docx)
        - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet (Sheets to .xlsx)
        - application/vnd.openxmlformats-officedocument.presentationml.presentation (Slides to .pptx)
        Note: Export has a 10MB limit. For larger files, use the Drive UI.
      operationId: exportFile
      x-airbyte-entity: files_export
      x-airbyte-action: download
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the Google Workspace file to export
          schema:
            type: string
        - name: mimeType
          in: query
          required: true
          description: |
            The MIME type of the format to export to. Common values:
            - application/pdf
            - text/plain
            - text/csv
            - application/vnd.openxmlformats-officedocument.wordprocessingml.document
            - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            - application/vnd.openxmlformats-officedocument.presentationml.presentation
          schema:
            type: string
      responses:
        "200":
          description: Exported file content in the requested format
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: File not found
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - file may not be a Google Workspace file

  # Drives (Shared Drives) endpoints
  "/drive/v3/drives":
    get:
      summary: List shared drives
      description: Lists the user's shared drives
      operationId: listDrives
      x-airbyte-entity: drives
      x-airbyte-action: list
      x-airbyte-record-extractor: $.drives
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of shared drives to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
        - name: q
          in: query
          description: Query string for searching shared drives
          required: false
          schema:
            type: string
        - name: useDomainAdminAccess
          in: query
          description: Issue the request as a domain administrator
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: List of shared drives
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DrivesListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/drives/{driveId}":
    get:
      summary: Get a shared drive
      description: Gets a shared drive's metadata by ID
      operationId: getDrive
      x-airbyte-entity: drives
      x-airbyte-action: get
      parameters:
        - name: driveId
          in: path
          required: true
          description: The ID of the shared drive
          schema:
            type: string
        - name: useDomainAdminAccess
          in: query
          description: Issue the request as a domain administrator
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Shared drive object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Drive"
        "404":
          description: Shared drive not found
        "401":
          description: Unauthorized

  # Permissions endpoints
  "/drive/v3/files/{fileId}/permissions":
    get:
      summary: List permissions
      description: Lists a file's or shared drive's permissions
      operationId: listPermissions
      x-airbyte-entity: permissions
      x-airbyte-action: list
      x-airbyte-record-extractor: $.permissions
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file or shared drive
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of permissions to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
        - name: useDomainAdminAccess
          in: query
          description: Issue the request as a domain administrator
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: List of permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionsListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/files/{fileId}/permissions/{permissionId}":
    get:
      summary: Get a permission
      description: Gets a permission by ID
      operationId: getPermission
      x-airbyte-entity: permissions
      x-airbyte-action: get
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: permissionId
          in: path
          required: true
          description: The ID of the permission
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
        - name: useDomainAdminAccess
          in: query
          description: Issue the request as a domain administrator
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Permission object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Permission"
        "404":
          description: Permission not found
        "401":
          description: Unauthorized

  # Comments endpoints
  "/drive/v3/files/{fileId}/comments":
    get:
      summary: List comments
      description: Lists a file's comments
      operationId: listComments
      x-airbyte-entity: comments
      x-airbyte-action: list
      x-airbyte-record-extractor: $.comments
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of comments to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
        - name: startModifiedTime
          in: query
          description: Minimum value of modifiedTime to filter by (RFC 3339)
          required: false
          schema:
            type: string
            format: date-time
        - name: includeDeleted
          in: query
          description: Whether to include deleted comments
          required: false
          schema:
            type: boolean
            default: false
        - name: fields
          in: query
          description: Fields to include in the response (required for comments)
          required: false
          schema:
            type: string
            default: "*"
      responses:
        "200":
          description: List of comments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/files/{fileId}/comments/{commentId}":
    get:
      summary: Get a comment
      description: Gets a comment by ID
      operationId: getComment
      x-airbyte-entity: comments
      x-airbyte-action: get
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          description: The ID of the comment
          schema:
            type: string
        - name: includeDeleted
          in: query
          description: Whether to return deleted comments
          required: false
          schema:
            type: boolean
            default: false
        - name: fields
          in: query
          description: Fields to include in the response (required for comments)
          required: false
          schema:
            type: string
            default: "*"
      responses:
        "200":
          description: Comment object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "404":
          description: Comment not found
        "401":
          description: Unauthorized

  # Replies endpoints
  "/drive/v3/files/{fileId}/comments/{commentId}/replies":
    get:
      summary: List replies
      description: Lists a comment's replies
      operationId: listReplies
      x-airbyte-entity: replies
      x-airbyte-action: list
      x-airbyte-record-extractor: $.replies
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          description: The ID of the comment
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of replies to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
        - name: includeDeleted
          in: query
          description: Whether to include deleted replies
          required: false
          schema:
            type: boolean
            default: false
        - name: fields
          in: query
          description: Fields to include in the response (required for replies)
          required: false
          schema:
            type: string
            default: "*"
      responses:
        "200":
          description: List of replies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepliesListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/files/{fileId}/comments/{commentId}/replies/{replyId}":
    get:
      summary: Get a reply
      description: Gets a reply by ID
      operationId: getReply
      x-airbyte-entity: replies
      x-airbyte-action: get
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          description: The ID of the comment
          schema:
            type: string
        - name: replyId
          in: path
          required: true
          description: The ID of the reply
          schema:
            type: string
        - name: includeDeleted
          in: query
          description: Whether to return deleted replies
          required: false
          schema:
            type: boolean
            default: false
        - name: fields
          in: query
          description: Fields to include in the response (required for replies)
          required: false
          schema:
            type: string
            default: "*"
      responses:
        "200":
          description: Reply object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reply"
        "404":
          description: Reply not found
        "401":
          description: Unauthorized

  # Revisions endpoints
  "/drive/v3/files/{fileId}/revisions":
    get:
      summary: List revisions
      description: Lists a file's revisions
      operationId: listRevisions
      x-airbyte-entity: revisions
      x-airbyte-action: list
      x-airbyte-record-extractor: $.revisions
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of revisions to return (1-1000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
        - name: pageToken
          in: query
          description: Token for continuing a previous list request
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of revisions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevisionsListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/files/{fileId}/revisions/{revisionId}":
    get:
      summary: Get a revision
      description: Gets a revision's metadata by ID
      operationId: getRevision
      x-airbyte-entity: revisions
      x-airbyte-action: get
      parameters:
        - name: fileId
          in: path
          required: true
          description: The ID of the file
          schema:
            type: string
        - name: revisionId
          in: path
          required: true
          description: The ID of the revision
          schema:
            type: string
      responses:
        "200":
          description: Revision object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Revision"
        "404":
          description: Revision not found
        "401":
          description: Unauthorized

  # Changes endpoints
  "/drive/v3/changes":
    get:
      summary: List changes
      description: Lists the changes for a user or shared drive
      operationId: listChanges
      x-airbyte-entity: changes
      x-airbyte-action: list
      x-airbyte-record-extractor: $.changes
      x-airbyte-meta-extractor:
        nextPageToken: $.nextPageToken
        newStartPageToken: $.newStartPageToken
      parameters:
        - name: pageToken
          in: query
          required: false
          description: Token for the page of changes to retrieve (from changes.getStartPageToken or previous response)
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of changes to return (1-1000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: driveId
          in: query
          description: The shared drive from which changes are returned
          required: false
          schema:
            type: string
        - name: includeItemsFromAllDrives
          in: query
          description: Whether to include changes from all drives
          required: false
          schema:
            type: boolean
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
        - name: spaces
          in: query
          description: Comma-separated list of spaces to query
          required: false
          schema:
            type: string
        - name: includeRemoved
          in: query
          description: Whether to include changes indicating that items have been removed
          required: false
          schema:
            type: boolean
            default: true
        - name: restrictToMyDrive
          in: query
          description: Whether to restrict the results to changes inside the My Drive hierarchy
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: List of changes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesListResponse"
        "401":
          description: Unauthorized

  "/drive/v3/changes/startPageToken":
    get:
      summary: Get start page token
      description: Gets the starting pageToken for listing future changes
      operationId: getChangesStartPageToken
      x-airbyte-entity: changes_start_page_token
      x-airbyte-action: get
      x-airbyte-record-extractor: $
      parameters:
        - name: driveId
          in: query
          description: The ID of the shared drive for which the starting pageToken is returned
          required: false
          schema:
            type: string
        - name: supportsAllDrives
          in: query
          description: Whether the requesting application supports both My Drives and shared drives
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Start page token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartPageToken"
        "401":
          description: Unauthorized

  # About endpoint
  "/drive/v3/about":
    get:
      summary: Get about info
      description: Gets information about the user, the user's Drive, and system capabilities
      operationId: getAbout
      x-airbyte-entity: about
      x-airbyte-action: get
      x-airbyte-record-extractor: $
      parameters:
        - name: fields
          in: query
          description: Fields to include in the response (use * for all fields)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: About information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/About"
        "401":
          description: Unauthorized

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          refreshUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.metadata.readonly: View metadata for files in your Google Drive
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
      x-airbyte-oauth-scopes:
        - scope: "https://www.googleapis.com/auth/drive.readonly"
          mode: read
          entities:
            - files
            - files_export
            - drives
            - permissions
            - comments
            - replies
            - revisions
            - changes
            - changes_start_page_token
            - about
          description: Read Google Drive files, metadata, permissions, comments, revisions, changes, and account info
        - scope: "https://www.googleapis.com/auth/drive"
          mode: write
          entities:
            - files
            - files_upload
          description: Create, update, delete, and upload Google Drive files
      x-airbyte-auth-config:
        title: "OAuth 2.0 Authentication"
        type: object
        required:
          - refresh_token
        properties:
          access_token:
            type: string
            title: "Access Token"
            description: "Your Google OAuth2 Access Token (optional, will be obtained via refresh)"
          refresh_token:
            type: string
            title: "Refresh Token"
            description: "Your Google OAuth2 Refresh Token"
          client_id:
            type: string
            title: "Client ID"
            description: "Your Google OAuth2 Client ID"
          client_secret:
            type: string
            title: "Client Secret"
            description: "Your Google OAuth2 Client Secret"
        auth_mapping:
          access_token: "${access_token}"
          refresh_token: "${refresh_token}"
          client_id: "${client_id}"
          client_secret: "${client_secret}"
        replication_auth_key_mapping:
          credentials.client_id: "client_id"
          credentials.client_secret: "client_secret"
          credentials.refresh_token: "refresh_token"
        replication_auth_key_constants:
          credentials.auth_type: "Client"

  schemas:
    # User schema (used in multiple places)
    User:
      type: object
      description: Information about a Drive user
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        displayName:
          type: [string, "null"]
          description: A plain text displayable name for this user
        photoLink:
          type: [string, "null"]
          description: A link to the user's profile photo
        me:
          type: [boolean, "null"]
          description: Whether this user is the requesting user
        permissionId:
          type: [string, "null"]
          description: The user's ID as visible in Permission resources
        emailAddress:
          type: [string, "null"]
          description: The email address of the user

    # File schema
    File:
      type: object
      x-airbyte-entity-name: files
      x-airbyte-ai-hints:
        summary: "Files and folders in Google Drive with sharing and metadata"
        when_to_use: "Looking for files, documents, or folders in Google Drive"
        trigger_phrases: ["google drive file", "document", "find file", "shared file"]
        freshness: live
        search_strategy: "Search by name or filter by MIME type, folder, or owner"
        example_questions:
          - "Find a file in Google Drive"
          - "Show recently modified files"
      description: The metadata for a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of the file
        name:
          type: [string, "null"]
          description: The name of the file
        mimeType:
          type: [string, "null"]
          description: The MIME type of the file
        description:
          type: [string, "null"]
          description: A short description of the file
        starred:
          type: [boolean, "null"]
          description: Whether the user has starred the file
        trashed:
          type: [boolean, "null"]
          description: Whether the file has been trashed
        explicitlyTrashed:
          type: [boolean, "null"]
          description: Whether the file has been explicitly trashed
        parents:
          type: [array, "null"]
          items:
            type: string
          description: The IDs of the parent folders
        properties:
          type: [object, "null"]
          additionalProperties:
            type: string
          description: A collection of arbitrary key-value pairs
        appProperties:
          type: [object, "null"]
          additionalProperties:
            type: string
          description: A collection of arbitrary key-value pairs private to the app
        spaces:
          type: [array, "null"]
          items:
            type: string
          description: The list of spaces which contain the file
        version:
          type: [string, "null"]
          description: A monotonically increasing version number for the file
        webContentLink:
          type: [string, "null"]
          description: A link for downloading the content of the file
        webViewLink:
          type: [string, "null"]
          description: A link for opening the file in a relevant Google editor or viewer
        iconLink:
          type: [string, "null"]
          description: A static, unauthenticated link to the file's icon
        hasThumbnail:
          type: [boolean, "null"]
          description: Whether this file has a thumbnail
        thumbnailLink:
          type: [string, "null"]
          description: A short-lived link to the file's thumbnail
        thumbnailVersion:
          type: [string, "null"]
          description: The thumbnail version for use in thumbnail cache invalidation
        viewedByMe:
          type: [boolean, "null"]
          description: Whether the file has been viewed by this user
        viewedByMeTime:
          type: [string, "null"]
          format: date-time
          description: The last time the file was viewed by the user
        createdTime:
          type: [string, "null"]
          format: date-time
          description: The time at which the file was created
        modifiedTime:
          type: [string, "null"]
          format: date-time
          description: The last time the file was modified by anyone
        modifiedByMeTime:
          type: [string, "null"]
          format: date-time
          description: The last time the file was modified by the user
        modifiedByMe:
          type: [boolean, "null"]
          description: Whether the file has been modified by this user
        sharedWithMeTime:
          type: [string, "null"]
          format: date-time
          description: The time at which the file was shared with the user
        sharingUser:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The user who shared the file with the requesting user
        owners:
          type: [array, "null"]
          items:
            $ref: "#/components/schemas/User"
          description: The owner of this file
        driveId:
          type: [string, "null"]
          description: ID of the shared drive the file resides in
        lastModifyingUser:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The last user to modify the file
        shared:
          type: [boolean, "null"]
          description: Whether the file has been shared
        ownedByMe:
          type: [boolean, "null"]
          description: Whether the user owns the file
        capabilities:
          type: [object, "null"]
          description: Capabilities the current user has on this file
          properties:
            canEdit:
              type: [boolean, "null"]
            canComment:
              type: [boolean, "null"]
            canShare:
              type: [boolean, "null"]
            canCopy:
              type: [boolean, "null"]
            canDownload:
              type: [boolean, "null"]
            canDelete:
              type: [boolean, "null"]
            canRename:
              type: [boolean, "null"]
            canTrash:
              type: [boolean, "null"]
            canReadRevisions:
              type: [boolean, "null"]
            canAddChildren:
              type: [boolean, "null"]
            canListChildren:
              type: [boolean, "null"]
            canRemoveChildren:
              type: [boolean, "null"]
        viewersCanCopyContent:
          type: [boolean, "null"]
          description: Whether users with only reader or commenter permission can copy the file's content
        copyRequiresWriterPermission:
          type: [boolean, "null"]
          description: Whether the options to copy, print, or download this file should be disabled
        writersCanShare:
          type: [boolean, "null"]
          description: Whether users with only writer permission can modify the file's permissions
        permissionIds:
          type: [array, "null"]
          items:
            type: string
          description: List of permission IDs for users with access to this file
        folderColorRgb:
          type: [string, "null"]
          description: The color for a folder as an RGB hex string
        originalFilename:
          type: [string, "null"]
          description: The original filename of the uploaded content
        fullFileExtension:
          type: [string, "null"]
          description: The full file extension extracted from the name field
        fileExtension:
          type: [string, "null"]
          description: The final component of fullFileExtension
        md5Checksum:
          type: [string, "null"]
          description: The MD5 checksum for the content of the file
        sha1Checksum:
          type: [string, "null"]
          description: The SHA1 checksum for the content of the file
        sha256Checksum:
          type: [string, "null"]
          description: The SHA256 checksum for the content of the file
        size:
          type: [string, "null"]
          description: Size in bytes of blobs and first party editor files
        quotaBytesUsed:
          type: [string, "null"]
          description: The number of storage quota bytes used by the file
        headRevisionId:
          type: [string, "null"]
          description: The ID of the file's head revision
        isAppAuthorized:
          type: [boolean, "null"]
          description: Whether the file was created or opened by the requesting app
        exportLinks:
          type: [object, "null"]
          additionalProperties:
            type: string
          description: Links for exporting Docs Editors files to specific formats
        shortcutDetails:
          type: [object, "null"]
          description: Shortcut file details
          properties:
            targetId:
              type: [string, "null"]
            targetMimeType:
              type: [string, "null"]
            targetResourceKey:
              type: [string, "null"]
        contentRestrictions:
          type: [array, "null"]
          items:
            type: object
            properties:
              readOnly:
                type: [boolean, "null"]
              reason:
                type: [string, "null"]
              restrictingUser:
                oneOf:
                  - $ref: "#/components/schemas/User"
                  - type: "null"
              restrictionTime:
                type: [string, "null"]
                format: date-time
              type:
                type: [string, "null"]
          description: Restrictions for accessing the content of the file
        resourceKey:
          type: [string, "null"]
          description: A key needed to access the item via a shared link
        linkShareMetadata:
          type: [object, "null"]
          description: Contains details about the link URLs
          properties:
            securityUpdateEligible:
              type: [boolean, "null"]
            securityUpdateEnabled:
              type: [boolean, "null"]
        labelInfo:
          type: [object, "null"]
          description: An overview of the labels on the file
          properties:
            labels:
              type: [array, "null"]
              items:
                type: object
        trashedTime:
          type: [string, "null"]
          format: date-time
          description: The time that the item was trashed
        trashingUser:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The user who trashed the file
        imageMediaMetadata:
          type: [object, "null"]
          description: Additional metadata about image media
          properties:
            width:
              type: [integer, "null"]
            height:
              type: [integer, "null"]
            rotation:
              type: [integer, "null"]
            time:
              type: [string, "null"]
            cameraMake:
              type: [string, "null"]
            cameraModel:
              type: [string, "null"]
            exposureTime:
              type: [number, "null"]
            aperture:
              type: [number, "null"]
            flashUsed:
              type: [boolean, "null"]
            focalLength:
              type: [number, "null"]
            isoSpeed:
              type: [integer, "null"]
            meteringMode:
              type: [string, "null"]
            sensor:
              type: [string, "null"]
            exposureMode:
              type: [string, "null"]
            colorSpace:
              type: [string, "null"]
            whiteBalance:
              type: [string, "null"]
            exposureBias:
              type: [number, "null"]
            maxApertureValue:
              type: [number, "null"]
            subjectDistance:
              type: [integer, "null"]
            lens:
              type: [string, "null"]
            location:
              type: [object, "null"]
              properties:
                latitude:
                  type: [number, "null"]
                longitude:
                  type: [number, "null"]
                altitude:
                  type: [number, "null"]
        videoMediaMetadata:
          type: [object, "null"]
          description: Additional metadata about video media
          properties:
            width:
              type: [integer, "null"]
            height:
              type: [integer, "null"]
            durationMillis:
              type: [string, "null"]

    FilesListResponse:
      type: object
      description: A list of files
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of files
        incompleteSearch:
          type: [boolean, "null"]
          description: Whether the search process was incomplete
        files:
          type: array
          items:
            $ref: "#/components/schemas/File"
          description: The list of files

    # File create/update/upload parameter schemas
    FileCreateParams:
      type: object
      description: Parameters for creating a new file or folder
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the file or folder
        mimeType:
          type: string
          description: |
            The MIME type of the file. Use 'application/vnd.google-apps.folder' for folders,
            'application/vnd.google-apps.document' for Google Docs,
            'application/vnd.google-apps.spreadsheet' for Google Sheets.
        parents:
          type: array
          items:
            type: string
          description: The IDs of the parent folders. If not specified, the file is placed in My Drive root.
        description:
          type: string
          description: A short description of the file

    FileUpdateParams:
      type: object
      description: Parameters for updating file metadata
      properties:
        name:
          type: string
          description: The new name of the file
        description:
          type: string
          description: A new description for the file
        mimeType:
          type: string
          description: The new MIME type of the file

    FileUploadParams:
      type: object
      description: Parameters for uploading a file with content
      required:
        - name
        - file_content
      properties:
        name:
          type: string
          description: The name of the file
        file_content:
          type: string
          format: byte
          description: Base64-encoded file content to upload
        mimeType:
          type: string
          description: The MIME type for the file metadata in Google Drive
        parents:
          type: array
          items:
            type: string
          description: The IDs of the parent folders
        description:
          type: string
          description: A short description of the file
        file_mime_type:
          type: string
          description: The MIME type of the actual file content (e.g., 'application/pdf', 'image/png'). Defaults to 'application/octet-stream'.

    # Drive (Shared Drive) schema
    Drive:
      type: object
      x-airbyte-entity-name: drives
      x-airbyte-ai-hints:
        summary: "Shared drives in Google Workspace"
        when_to_use: "Questions about shared drives or team drive membership"
        trigger_phrases: ["shared drive", "team drive"]
        freshness: live
        search_strategy: "Search by name"
        example_questions:
          - "What shared drives do I have access to?"
      description: Representation of a shared drive
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of this shared drive
        name:
          type: [string, "null"]
          description: The name of this shared drive
        colorRgb:
          type: [string, "null"]
          description: The color of this shared drive as an RGB hex string
        backgroundImageLink:
          type: [string, "null"]
          description: A short-lived link to this shared drive's background image
        backgroundImageFile:
          type: [object, "null"]
          description: An image file and cropping parameters for the background image
          properties:
            id:
              type: [string, "null"]
            xCoordinate:
              type: [number, "null"]
            yCoordinate:
              type: [number, "null"]
            width:
              type: [number, "null"]
        capabilities:
          type: [object, "null"]
          description: Capabilities the current user has on this shared drive
          properties:
            canAddChildren:
              type: [boolean, "null"]
            canComment:
              type: [boolean, "null"]
            canCopy:
              type: [boolean, "null"]
            canDeleteDrive:
              type: [boolean, "null"]
            canDownload:
              type: [boolean, "null"]
            canEdit:
              type: [boolean, "null"]
            canListChildren:
              type: [boolean, "null"]
            canManageMembers:
              type: [boolean, "null"]
            canReadRevisions:
              type: [boolean, "null"]
            canRename:
              type: [boolean, "null"]
            canRenameDrive:
              type: [boolean, "null"]
            canChangeDriveBackground:
              type: [boolean, "null"]
            canShare:
              type: [boolean, "null"]
            canChangeCopyRequiresWriterPermissionRestriction:
              type: [boolean, "null"]
            canChangeDomainUsersOnlyRestriction:
              type: [boolean, "null"]
            canChangeDriveMembersOnlyRestriction:
              type: [boolean, "null"]
            canChangeSharingFoldersRequiresOrganizerPermissionRestriction:
              type: [boolean, "null"]
            canResetDriveRestrictions:
              type: [boolean, "null"]
            canDeleteChildren:
              type: [boolean, "null"]
            canTrashChildren:
              type: [boolean, "null"]
        themeId:
          type: [string, "null"]
          description: The ID of the theme from which the background image and color are set
        createdTime:
          type: [string, "null"]
          format: date-time
          description: The time at which the shared drive was created
        hidden:
          type: [boolean, "null"]
          description: Whether the shared drive is hidden from default view
        restrictions:
          type: [object, "null"]
          description: A set of restrictions that apply to this shared drive
          properties:
            copyRequiresWriterPermission:
              type: [boolean, "null"]
            domainUsersOnly:
              type: [boolean, "null"]
            driveMembersOnly:
              type: [boolean, "null"]
            adminManagedRestrictions:
              type: [boolean, "null"]
            sharingFoldersRequiresOrganizerPermission:
              type: [boolean, "null"]
        orgUnitId:
          type: [string, "null"]
          description: The organizational unit of this shared drive

    DrivesListResponse:
      type: object
      description: A list of shared drives
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of shared drives
        drives:
          type: array
          items:
            $ref: "#/components/schemas/Drive"
          description: The list of shared drives

    # Permission schema
    Permission:
      type: object
      x-airbyte-entity-name: permissions
      x-airbyte-ai-hints:
        summary: "File and folder sharing permissions in Google Drive"
        when_to_use: "Questions about who has access to files or sharing settings"
        trigger_phrases: ["file permissions", "who has access", "sharing settings"]
        freshness: live
        search_strategy: "Filter by file"
        example_questions:
          - "Who has access to this file?"
      description: A permission for a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of this permission
        type:
          type: [string, "null"]
          description: The type of the grantee (user, group, domain, anyone)
        emailAddress:
          type: [string, "null"]
          description: The email address of the user or group
        domain:
          type: [string, "null"]
          description: The domain to which this permission refers
        role:
          type: [string, "null"]
          description: The role granted by this permission (owner, organizer, fileOrganizer, writer, commenter, reader)
        view:
          type: [string, "null"]
          description: Indicates the view for this permission
        allowFileDiscovery:
          type: [boolean, "null"]
          description: Whether the permission allows the file to be discovered through search
        displayName:
          type: [string, "null"]
          description: The displayable name of the grantee
        photoLink:
          type: [string, "null"]
          description: A link to the user's profile photo
        expirationTime:
          type: [string, "null"]
          format: date-time
          description: The time at which this permission will expire
        teamDrivePermissionDetails:
          type: [array, "null"]
          items:
            type: object
            properties:
              teamDrivePermissionType:
                type: [string, "null"]
              role:
                type: [string, "null"]
              inheritedFrom:
                type: [string, "null"]
              inherited:
                type: [boolean, "null"]
          description: Deprecated - use permissionDetails instead
        permissionDetails:
          type: [array, "null"]
          items:
            type: object
            properties:
              permissionType:
                type: [string, "null"]
              role:
                type: [string, "null"]
              inheritedFrom:
                type: [string, "null"]
              inherited:
                type: [boolean, "null"]
          description: Details of whether the permissions on this shared drive item are inherited
        deleted:
          type: [boolean, "null"]
          description: Whether the account associated with this permission has been deleted
        pendingOwner:
          type: [boolean, "null"]
          description: Whether the account associated with this permission is a pending owner

    PermissionsListResponse:
      type: object
      description: A list of permissions for a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of permissions
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/Permission"
          description: The list of permissions

    # Comment schema
    Comment:
      type: object
      x-airbyte-entity-name: comments
      x-airbyte-ai-hints:
        summary: "Comments on Google Drive files"
        when_to_use: "Looking for comments or discussions on files"
        trigger_phrases: ["file comment", "drive comment"]
        freshness: live
        search_strategy: "Filter by file"
        example_questions:
          - "What comments are on this file?"
      description: A comment on a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of the comment
        createdTime:
          type: [string, "null"]
          format: date-time
          description: The time at which the comment was created
        modifiedTime:
          type: [string, "null"]
          format: date-time
          description: The last time the comment or any of its replies was modified
        author:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The author of the comment
        htmlContent:
          type: [string, "null"]
          description: The content of the comment with HTML formatting
        content:
          type: [string, "null"]
          description: The plain text content of the comment
        deleted:
          type: [boolean, "null"]
          description: Whether the comment has been deleted
        resolved:
          type: [boolean, "null"]
          description: Whether the comment has been resolved by one of its replies
        quotedFileContent:
          type: [object, "null"]
          description: The file content to which the comment refers
          properties:
            mimeType:
              type: [string, "null"]
            value:
              type: [string, "null"]
        anchor:
          type: [string, "null"]
          description: A region of the document represented as a JSON string
        replies:
          type: [array, "null"]
          items:
            $ref: "#/components/schemas/Reply"
          description: The full list of replies to the comment
        mentionedEmailAddresses:
          type: [array, "null"]
          items:
            type: string
          description: Email addresses mentioned in the comment
        assigneeEmailAddress:
          type: [string, "null"]
          description: Email address of the user assigned to this comment

    CommentsListResponse:
      type: object
      description: A list of comments on a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of comments
        comments:
          type: array
          items:
            $ref: "#/components/schemas/Comment"
          description: The list of comments

    # Reply schema
    Reply:
      type: object
      x-airbyte-entity-name: replies
      x-airbyte-ai-hints:
        summary: "Replies to comments on Google Drive files"
        when_to_use: "Looking for reply threads on file comments"
        trigger_phrases: ["comment reply", "reply thread"]
        freshness: live
        search_strategy: "Filter by comment"
        example_questions:
          - "What replies are on this comment?"
      description: A reply to a comment on a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of the reply
        createdTime:
          type: [string, "null"]
          format: date-time
          description: The time at which the reply was created
        modifiedTime:
          type: [string, "null"]
          format: date-time
          description: The last time the reply was modified
        author:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The author of the reply
        htmlContent:
          type: [string, "null"]
          description: The content of the reply with HTML formatting
        content:
          type: [string, "null"]
          description: The plain text content of the reply
        deleted:
          type: [boolean, "null"]
          description: Whether the reply has been deleted
        action:
          type: [string, "null"]
          description: The action the reply performed to the parent comment (resolve, reopen)

    RepliesListResponse:
      type: object
      description: A list of replies to a comment
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of replies
        replies:
          type: array
          items:
            $ref: "#/components/schemas/Reply"
          description: The list of replies

    # Revision schema
    Revision:
      type: object
      x-airbyte-entity-name: revisions
      x-airbyte-ai-hints:
        summary: "File version history and revisions in Google Drive"
        when_to_use: "Questions about file change history or previous versions"
        trigger_phrases: ["file revision", "version history", "previous version"]
        freshness: live
        search_strategy: "Filter by file"
        example_questions:
          - "Show the revision history for a file"
      description: The metadata for a revision to a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        id:
          type: string
          description: The ID of the revision
        mimeType:
          type: [string, "null"]
          description: The MIME type of the revision
        modifiedTime:
          type: [string, "null"]
          format: date-time
          description: The last time the revision was modified
        keepForever:
          type: [boolean, "null"]
          description: Whether to keep this revision forever
        published:
          type: [boolean, "null"]
          description: Whether this revision is published
        publishedLink:
          type: [string, "null"]
          description: A link to the published revision
        publishAuto:
          type: [boolean, "null"]
          description: Whether subsequent revisions will be automatically republished
        publishedOutsideDomain:
          type: [boolean, "null"]
          description: Whether this revision is published outside the domain
        lastModifyingUser:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The last user to modify this revision
        originalFilename:
          type: [string, "null"]
          description: The original filename used to create this revision
        md5Checksum:
          type: [string, "null"]
          description: The MD5 checksum of the revision's content
        size:
          type: [string, "null"]
          description: The size of the revision's content in bytes
        exportLinks:
          type: [object, "null"]
          additionalProperties:
            type: string
          description: Links for exporting Docs Editors files to specific formats

    RevisionsListResponse:
      type: object
      description: A list of revisions of a file
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of revisions
        revisions:
          type: array
          items:
            $ref: "#/components/schemas/Revision"
          description: The list of revisions

    # Change schema
    Change:
      type: object
      x-airbyte-entity-name: changes
      x-airbyte-ai-hints:
        summary: "Recent file changes in Google Drive"
        when_to_use: "Questions about recently modified or added files"
        trigger_phrases: ["recent changes", "what changed", "modified files"]
        freshness: live
        search_strategy: "Filter by date range"
        example_questions:
          - "What files changed recently in Google Drive?"
      description: A change to a file or shared drive
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        removed:
          type: [boolean, "null"]
          description: Whether the file or shared drive has been removed
        file:
          oneOf:
            - $ref: "#/components/schemas/File"
            - type: "null"
          description: The updated state of the file
        fileId:
          type: [string, "null"]
          description: The ID of the file which has changed
        driveId:
          type: [string, "null"]
          description: The ID of the shared drive associated with this change
        drive:
          oneOf:
            - $ref: "#/components/schemas/Drive"
            - type: "null"
          description: The updated state of the shared drive
        time:
          type: [string, "null"]
          format: date-time
          description: The time of this change
        type:
          type: [string, "null"]
          description: The type of the change (file or drive)
        changeType:
          type: [string, "null"]
          description: The type of the change (file or drive)

    ChangesListResponse:
      type: object
      description: A list of changes for a user
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        nextPageToken:
          type: [string, "null"]
          description: The page token for the next page of changes
        newStartPageToken:
          type: [string, "null"]
          description: The starting page token for future changes
        changes:
          type: array
          items:
            $ref: "#/components/schemas/Change"
          description: The list of changes

    # StartPageToken schema
    StartPageToken:
      type: object
      x-airbyte-entity-name: changes_start_page_token
      description: The starting page token for listing changes
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        startPageToken:
          type: string
          description: The starting page token for listing changes

    # About schema
    About:
      type: object
      x-airbyte-entity-name: about
      x-airbyte-ai-hints:
        summary: "Google Drive storage quota and account information"
        when_to_use: "Questions about storage usage or account limits"
        trigger_phrases: ["storage quota", "drive space", "how much storage"]
        freshness: live
        search_strategy: "Retrieve account info"
        example_questions:
          - "How much Google Drive storage am I using?"
      description: Information about the user, the user's Drive, and system capabilities
      properties:
        kind:
          type: [string, "null"]
          description: Identifies what kind of resource this is
        user:
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"
          description: The authenticated user
        storageQuota:
          type: [object, "null"]
          description: The user's storage quota limits and usage
          properties:
            limit:
              type: [string, "null"]
              description: The usage limit, if applicable
            usage:
              type: [string, "null"]
              description: The total usage across all services
            usageInDrive:
              type: [string, "null"]
              description: The usage by all files in Google Drive
            usageInDriveTrash:
              type: [string, "null"]
              description: The usage by trashed files in Google Drive
        importFormats:
          type: [object, "null"]
          additionalProperties:
            type: array
            items:
              type: string
          description: A map of source MIME type to possible targets for all supported imports
        exportFormats:
          type: [object, "null"]
          additionalProperties:
            type: array
            items:
              type: string
          description: A map of source MIME type to possible targets for all supported exports
        maxImportSizes:
          type: [object, "null"]
          additionalProperties:
            type: string
          description: A map of maximum import sizes by MIME type
        maxUploadSize:
          type: [string, "null"]
          description: The maximum upload size in bytes
        appInstalled:
          type: [boolean, "null"]
          description: Whether the user has installed the requesting app
        folderColorPalette:
          type: [array, "null"]
          items:
            type: string
          description: The currently supported folder colors as RGB hex strings
        driveThemes:
          type: [array, "null"]
          items:
            type: object
            properties:
              id:
                type: [string, "null"]
              backgroundImageLink:
                type: [string, "null"]
              colorRgb:
                type: [string, "null"]
          description: A list of themes that are supported for shared drives
        canCreateDrives:
          type: [boolean, "null"]
          description: Whether the user can create shared drives
        canCreateTeamDrives:
          type: [boolean, "null"]
          description: Deprecated - use canCreateDrives instead
        teamDriveThemes:
          type: [array, "null"]
          items:
            type: object
            properties:
              id:
                type: [string, "null"]
              backgroundImageLink:
                type: [string, "null"]
              colorRgb:
                type: [string, "null"]
          description: Deprecated - use driveThemes instead
