# Greenhouse API Connector
# OpenAPI 3.1 specification with Airbyte extensions

openapi: 3.1.0

info:
  title: Greenhouse Harvest API Connector
  version: 1.0.0
  description: Connector for Greenhouse Harvest API
  x-airbyte-connector-name: greenhouse
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Greenhouse API Reference documentation
      url: "https://developers.greenhouse.io/harvest.html"

servers:
  - url: https://harvest.greenhouse.io/v1
    description: Greenhouse Harvest API server

security:
  - basicAuth: []

paths:
  "/candidates":
    get:
      summary: List candidates
      description: Returns a paginated list of all candidates in the organization
      operationId: listCandidates
      x-airbyte-resource: candidates
      x-airbyte-verb: list
      parameters:
        - name: per_page
          in: query
          description: Number of items to return per page (max 500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of candidates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Candidate"
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable Entity

  "/candidates/{id}":
    get:
      summary: Get a candidate
      description: Get a single candidate by ID
      operationId: getCandidate
      x-airbyte-resource: candidates
      x-airbyte-verb: get
      parameters:
        - name: id
          in: path
          required: true
          description: Candidate ID
          schema:
            type: integer
      responses:
        "200":
          description: Candidate object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Candidate"
        "404":
          description: Candidate not found
        "401":
          description: Unauthorized

  "/applications":
    get:
      summary: List applications
      description: Returns a paginated list of all applications
      operationId: listApplications
      x-airbyte-resource: applications
      x-airbyte-verb: list
      parameters:
        - name: per_page
          in: query
          description: Number of items to return per page (max 500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: created_before
          in: query
          description: Filter by applications created before this timestamp
          schema:
            type: string
            format: date-time
        - name: created_after
          in: query
          description: Filter by applications created after this timestamp
          schema:
            type: string
            format: date-time
        - name: last_activity_after
          in: query
          description: Filter by applications with activity after this timestamp
          schema:
            type: string
            format: date-time
        - name: job_id
          in: query
          description: Filter by job ID
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by application status
          schema:
            type: string
            enum: [active, rejected, hired]
      responses:
        "200":
          description: List of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Application"
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable Entity

  "/applications/{id}":
    get:
      summary: Get an application
      description: Get a single application by ID
      operationId: getApplication
      x-airbyte-resource: applications
      x-airbyte-verb: get
      parameters:
        - name: id
          in: path
          required: true
          description: Application ID
          schema:
            type: integer
      responses:
        "200":
          description: Application object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
        "404":
          description: Application not found
        "401":
          description: Unauthorized

  "/jobs":
    get:
      summary: List jobs
      description: Returns a paginated list of all jobs in the organization
      operationId: listJobs
      x-airbyte-resource: jobs
      x-airbyte-verb: list
      parameters:
        - name: per_page
          in: query
          description: Number of items to return per page (max 500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Job"
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable Entity

  "/jobs/{id}":
    get:
      summary: Get a job
      description: Get a single job by ID
      operationId: getJob
      x-airbyte-resource: jobs
      x-airbyte-verb: get
      parameters:
        - name: id
          in: path
          required: true
          description: Job ID
          schema:
            type: integer
      responses:
        "200":
          description: Job object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "404":
          description: Job not found
        "401":
          description: Unauthorized

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication (API token as username, blank password)
      x-airbyte-auth-config:
        title: "Harvest API Key Authentication"
        type: object
        required:
          - api_key
        properties:
          api_key:
            type: string
            title: "Harvest API Key"
            description: "Your Greenhouse Harvest API Key from the Dev Center"
            airbyte_secret: true
        auth_mapping:
          username: "${api_key}"
          password: ""

  schemas:
    Candidate:
      type: object
      x-airbyte-resource-name: candidates
      description: Greenhouse candidate object
      properties:
        id:
          type: integer
          description: Unique candidate identifier
        first_name:
          type: string
          description: Candidate's first name
        last_name:
          type: string
          description: Candidate's last name
        company:
          type: [string, "null"]
          description: Candidate's current company
        title:
          type: string
          description: Candidate's current title
        created_at:
          type: string
          format: date-time
          description: When the candidate was created
        updated_at:
          type: string
          format: date-time
          description: When the candidate was last updated
        last_activity:
          type: string
          format: date-time
          description: When the last activity occurred
        is_private:
          type: boolean
          description: Whether the candidate is private
        photo_url:
          type: [string, "null"]
          description: URL to candidate's photo
        attachments:
          type: array
          items:
            type: object
          description: Candidate attachments
        application_ids:
          type: array
          items:
            type: integer
          description: IDs of candidate's applications
        phone_numbers:
          type: array
          items:
            type: object
          description: Candidate phone numbers
        addresses:
          type: array
          items:
            type: object
          description: Candidate addresses
        email_addresses:
          type: array
          items:
            type: object
          description: Candidate email addresses
        website_addresses:
          type: array
          items:
            type: object
          description: Candidate website addresses
        social_media_addresses:
          type: array
          items:
            type: object
          description: Candidate social media addresses
        recruiter:
          type: [object, "null"]
          description: Recruiter information
        coordinator:
          type: [object, "null"]
          description: Coordinator information
        can_email:
          type: boolean
          description: Whether the candidate can be emailed
        tags:
          type: array
          items:
            type: string
          description: Candidate tags
        custom_fields:
          type: object
          description: Custom field values

    Application:
      type: object
      x-airbyte-resource-name: applications
      description: Greenhouse application object
      properties:
        id:
          type: integer
          description: Unique application identifier
        candidate_id:
          type: integer
          description: ID of the associated candidate
        prospect:
          type: boolean
          description: Whether this is a prospect application
        applied_at:
          type: string
          format: date-time
          description: When the application was submitted
        rejected_at:
          type: [string, "null"]
          format: date-time
          description: When the application was rejected
        last_activity_at:
          type: string
          format: date-time
          description: When the last activity occurred
        location:
          type: [object, "null"]
          description: Application location
        source:
          type: object
          description: Application source
        credited_to:
          type: object
          description: User credited with the application
        rejection_reason:
          type: [object, "null"]
          description: Rejection reason if rejected
        rejection_details:
          type: [object, "null"]
          description: Additional rejection details
        jobs:
          type: array
          items:
            type: object
          description: Jobs associated with the application
        job_post_id:
          type: [integer, "null"]
          description: ID of the job post
        status:
          type: string
          description: Application status
        current_stage:
          type: [object, "null"]
          description: Current stage of the application
        answers:
          type: array
          items:
            type: object
          description: Application question answers
        prospective_office:
          type: [object, "null"]
          description: Prospective office
        prospective_department:
          type: [object, "null"]
          description: Prospective department
        prospect_detail:
          type: object
          description: Prospect details
        attachments:
          type: array
          items:
            type: object
          description: Application attachments
        custom_fields:
          type: object
          description: Custom field values

    Job:
      type: object
      x-airbyte-resource-name: jobs
      description: Greenhouse job object
      properties:
        id:
          type: integer
          description: Unique job identifier
        name:
          type: string
          description: Job name
        requisition_id:
          type: [string, "null"]
          description: Job requisition ID
        notes:
          type: [string, "null"]
          description: Job notes
        confidential:
          type: boolean
          description: Whether the job is confidential
        status:
          type: string
          description: Job status
        created_at:
          type: string
          format: date-time
          description: When the job was created
        opened_at:
          type: string
          format: date-time
          description: When the job was opened
        closed_at:
          type: [string, "null"]
          format: date-time
          description: When the job was closed
        updated_at:
          type: string
          format: date-time
          description: When the job was last updated
        departments:
          type: array
          items:
            type: [object, "null"]
          description: Departments associated with the job
        offices:
          type: array
          items:
            type: object
          description: Offices associated with the job
        custom_fields:
          type: object
          description: Custom field values
        hiring_team:
          type: object
          description: Hiring team information
        openings:
          type: array
          items:
            type: object
          description: Job openings
