# Gong API Connector
# OpenAPI 3.1 specification with Airbyte extensions

openapi: 3.1.0

info:
  title: Gong API Connector
  version: 0.1.0
  description: Connector for Gong API
  x-airbyte-connector-name: gong
  x-airbyte-connector-id: 32382e40-3b49-4b99-9c5c-4076501914e7
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Gong API Documentation
      url: https://gong.app.gong.io/settings/api/documentation

servers:
  - url: https://api.gong.io
    description: Gong API server

security:
  - basicAuth: []

paths:
  "/v2/users":
    get:
      summary: List users
      description: Returns a list of all users in the Gong account
      operationId: listUsers
      x-airbyte-entity: users
      x-airbyte-action: list
      x-airbyte-record-extractor: $.users
      x-airbyte-meta-extractor:
        pagination: $.records
      parameters:
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"
        "401":
          description: Unauthorized

  "/v2/users/{id}":
    get:
      summary: Get a user
      description: Get a single user by ID
      operationId: getUser
      x-airbyte-entity: users
      x-airbyte-action: get
      x-airbyte-record-extractor: $.user
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
      responses:
        "200":
          description: User object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          description: User not found
        "401":
          description: Unauthorized

  "/v2/calls":
    get:
      summary: List calls
      description: Retrieve calls data by date range
      operationId: listCalls
      x-airbyte-entity: calls
      x-airbyte-action: list
      x-airbyte-record-extractor: $.calls
      x-airbyte-meta-extractor:
        pagination: $.records
      parameters:
        - name: fromDateTime
          in: query
          description: Start date in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
        - name: toDateTime
          in: query
          description: End date in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of calls
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsResponse"
        "401":
          description: Unauthorized

  "/v2/calls/{id}":
    get:
      summary: Get a call
      description: Get specific call data by ID
      operationId: getCall
      x-airbyte-entity: calls
      x-airbyte-action: get
      x-airbyte-record-extractor: $.call
      parameters:
        - name: id
          in: path
          required: true
          description: Call ID
          schema:
            type: string
      responses:
        "200":
          description: Call object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallResponse"
        "404":
          description: Call not found
        "401":
          description: Unauthorized

  "/v2/calls/extensive":
    post:
      summary: List calls with extensive data
      description: Retrieve detailed call data including participants, interaction stats, and content
      operationId: listCallsExtensive
      x-airbyte-entity: calls_extensive
      x-airbyte-action: list
      x-airbyte-record-extractor: $.calls
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDateTime:
                      type: string
                      format: date-time
                      description: Start date in ISO 8601 format
                    toDateTime:
                      type: string
                      format: date-time
                      description: End date in ISO 8601 format
                    callIds:
                      type: array
                      items:
                        type: string
                      description: List of specific call IDs to retrieve
                    workspaceId:
                      type: string
                      description: Filter by workspace ID
                contentSelector:
                  type: object
                  description: Select which content to include in the response
                  properties:
                    context:
                      type: string
                      description: Context level for the data
                      enum:
                        - Extended
                    contextTiming:
                      type: array
                      description: Context timing options
                      items:
                        type: string
                        enum:
                          - Now
                          - TimeOfCall
                    exposedFields:
                      type: object
                      description: Specify which fields to include in the response
                      properties:
                        collaboration:
                          type: object
                          properties:
                            publicComments:
                              type: boolean
                              description: Include public comments
                        content:
                          type: object
                          properties:
                            pointsOfInterest:
                              type: boolean
                              description: Include points of interest (deprecated, use highlights)
                            structure:
                              type: boolean
                              description: Include call structure
                            topics:
                              type: boolean
                              description: Include topics discussed
                            trackers:
                              type: boolean
                              description: Include trackers
                            trackerOccurrences:
                              type: boolean
                              description: Include tracker occurrences
                            brief:
                              type: boolean
                              description: Include call brief
                            outline:
                              type: boolean
                              description: Include call outline
                            highlights:
                              type: boolean
                              description: Include call highlights
                            callOutcome:
                              type: boolean
                              description: Include call outcome
                            keyPoints:
                              type: boolean
                              description: Include key points
                        interaction:
                          type: object
                          properties:
                            personInteractionStats:
                              type: boolean
                              description: Include person interaction statistics
                            questions:
                              type: boolean
                              description: Include questions asked
                            speakers:
                              type: boolean
                              description: Include speaker information
                            video:
                              type: boolean
                              description: Include video interaction data
                        media:
                          type: boolean
                          description: Include media URLs (audio/video)
                        parties:
                          type: boolean
                          description: Include participant information
                cursor:
                  type: string
                  description: Cursor for pagination
      responses:
        "200":
          description: Detailed call data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtensiveCallsResponse"
        "401":
          description: Unauthorized

  "/v2/calls:audio/download":
    post:
      summary: Download call audio
      description: |
        Downloads the audio media file for a call. Temporarily, the request body must be configured with:
        {"filter": {"callIds": [CALL_ID]}, "contentSelector": {"exposedFields": {"media": true}}}
      operationId: DownloadCallAudio
      x-airbyte-entity: call_audio
      x-airbyte-action: download
      x-airbyte-file-url: calls[0].media.audioUrl
      x-airbyte-path-override:
        path: /v2/calls/extensive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    callIds:
                      type: array
                      items:
                        type: string
                      description: List containing the single call ID
                contentSelector:
                  type: object
                  properties:
                    exposedFields:
                      type: object
                      properties:
                        media:
                          type: boolean
                          description: Must be true to get media URLs
                          default: true
      responses:
        "200":
          description: Call metadata with audio URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtensiveCallsResponse"
        "401":
          description: Unauthorized

  "/v2/calls:video/download":
    post:
      summary: Download call video
      description: |
        Downloads the video media file for a call. Temporarily, the request body must be configured with:
        {"filter": {"callIds": [CALL_ID]}, "contentSelector": {"exposedFields": {"media": true}}}
      operationId: DownloadCallVideo
      x-airbyte-entity: call_video
      x-airbyte-action: download
      x-airbyte-file-url: calls[0].media.videoUrl
      x-airbyte-path-override:
        path: /v2/calls/extensive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    callIds:
                      type: array
                      items:
                        type: string
                      description: List containing the single call ID
                contentSelector:
                  type: object
                  properties:
                    exposedFields:
                      type: object
                      properties:
                        media:
                          type: boolean
                          description: Must be true to get media URLs
                          default: true
      responses:
        "200":
          description: Call metadata with video URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtensiveCallsResponse"
        "401":
          description: Unauthorized

  "/v2/workspaces":
    get:
      summary: List workspaces
      description: List all company workspaces
      operationId: listWorkspaces
      x-airbyte-entity: workspaces
      x-airbyte-action: list
      x-airbyte-record-extractor: $.workspaces
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspacesResponse"
        "401":
          description: Unauthorized

  "/v2/calls/transcript":
    post:
      summary: Retrieve call transcripts
      description: Returns transcripts for calls in a specified date range or specific call IDs
      operationId: getCallTranscripts
      x-airbyte-entity: call_transcripts
      x-airbyte-action: list
      x-airbyte-record-extractor: $.callTranscripts
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDateTime:
                      type: string
                      format: date-time
                      description: Start date in ISO 8601 format (optional if callIds provided)
                    toDateTime:
                      type: string
                      format: date-time
                      description: End date in ISO 8601 format (optional if callIds provided)
                    callIds:
                      type: array
                      items:
                        type: string
                      description: List of specific call IDs to retrieve transcripts for
                cursor:
                  type: string
                  description: Cursor for pagination
      responses:
        "200":
          description: Call transcripts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptsResponse"
        "401":
          description: Unauthorized

  "/v2/stats/activity/aggregate":
    post:
      summary: Retrieve aggregated activity statistics
      description: Provides aggregated user activity metrics across a specified period
      operationId: getActivityAggregate
      x-airbyte-entity: stats_activity_aggregate
      x-airbyte-action: list
      x-airbyte-record-extractor: $.usersAggregateActivityStats
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDate:
                      type: string
                      format: date
                      description: Start date (YYYY-MM-DD)
                    toDate:
                      type: string
                      format: date
                      description: End date (YYYY-MM-DD)
                    userIds:
                      type: array
                      items:
                        type: string
                      description: List of user IDs to retrieve stats for
      responses:
        "200":
          description: Aggregated activity statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityAggregateResponse"
        "401":
          description: Unauthorized

  "/v2/stats/activity/day-by-day":
    post:
      summary: Retrieve daily activity statistics
      description: Delivers daily user activity metrics across a specified date range
      operationId: getActivityDayByDay
      x-airbyte-entity: stats_activity_day_by_day
      x-airbyte-action: list
      x-airbyte-record-extractor: $.usersDetailedActivities
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDate:
                      type: string
                      format: date
                      description: Start date (YYYY-MM-DD)
                    toDate:
                      type: string
                      format: date
                      description: End date (YYYY-MM-DD)
                    userIds:
                      type: array
                      items:
                        type: string
                      description: List of user IDs to retrieve stats for
      responses:
        "200":
          description: Daily activity statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityDayByDayResponse"
        "401":
          description: Unauthorized

  "/v2/stats/interaction":
    post:
      summary: Retrieve interaction statistics
      description: Returns interaction stats for users based on calls that have Whisper turned on
      operationId: getInteractionStats
      x-airbyte-entity: stats_interaction
      x-airbyte-action: list
      x-airbyte-record-extractor: $.peopleInteractionStats
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDate:
                      type: string
                      format: date
                      description: Start date (YYYY-MM-DD)
                    toDate:
                      type: string
                      format: date
                      description: End date (YYYY-MM-DD)
                    userIds:
                      type: array
                      items:
                        type: string
                      description: List of user IDs to retrieve stats for
      responses:
        "200":
          description: Interaction statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionStatsResponse"
        "401":
          description: Unauthorized

  "/v2/settings/scorecards":
    get:
      summary: List scorecards
      description: Retrieve all scorecard configurations in the company
      operationId: listScorecards
      x-airbyte-entity: settings_scorecards
      x-airbyte-action: list
      x-airbyte-record-extractor: $.scorecards
      parameters:
        - name: workspaceId
          in: query
          description: Filter scorecards by workspace ID
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of scorecards
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScorecardsResponse"
        "401":
          description: Unauthorized

  "/v2/settings/trackers":
    get:
      summary: List trackers
      description: Retrieve all keyword tracker configurations in the company
      operationId: listTrackers
      x-airbyte-entity: settings_trackers
      x-airbyte-action: list
      x-airbyte-record-extractor: $.keywordTrackers
      parameters:
        - name: workspaceId
          in: query
          description: Filter trackers by workspace ID
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of trackers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackersResponse"
        "401":
          description: Unauthorized

  "/v2/library/folders":
    get:
      summary: List library folders
      description: Retrieve the folder structure of the call library
      operationId: listLibraryFolders
      x-airbyte-entity: library_folders
      x-airbyte-action: list
      x-airbyte-record-extractor: $.folders
      parameters:
        - name: workspaceId
          in: query
          description: Workspace ID to retrieve folders from
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of library folders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryFoldersResponse"
        "401":
          description: Unauthorized

  "/v2/library/folder-content":
    get:
      summary: List folder content
      description: Retrieve calls in a specific library folder
      operationId: listFolderContent
      x-airbyte-entity: library_folder_content
      x-airbyte-action: list
      x-airbyte-record-extractor: $.calls
      x-airbyte-meta-extractor:
        pagination: $.records
      parameters:
        - name: folderId
          in: query
          description: Folder ID to retrieve content from
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of calls in folder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderContentResponse"
        "401":
          description: Unauthorized
        "404":
          description: Folder not found

  "/v2/coaching":
    get:
      summary: List coaching metrics
      description: Retrieve coaching metrics for a manager and their direct reports
      operationId: listCoachingMetrics
      x-airbyte-entity: coaching
      x-airbyte-action: list
      x-airbyte-record-extractor: $.coachingData
      parameters:
        - name: workspace-id
          in: query
          description: Workspace ID
          required: true
          schema:
            type: string
        - name: manager-id
          in: query
          description: Manager user ID
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Start date in ISO 8601 format
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: End date in ISO 8601 format
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Coaching metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachingResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  "/v2/stats/activity/scorecards":
    post:
      summary: List answered scorecards
      description: Retrieve answered scorecards for applicable reviewed users or scorecards for a date range
      operationId: listAnsweredScorecards
      x-airbyte-entity: stats_activity_scorecards
      x-airbyte-action: list
      x-airbyte-record-extractor: $.answeredScorecards
      x-airbyte-meta-extractor:
        pagination: $.records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    fromDateTime:
                      type: string
                      format: date-time
                      description: Start date in ISO 8601 format
                    toDateTime:
                      type: string
                      format: date-time
                      description: End date in ISO 8601 format
                    scorecardIds:
                      type: array
                      items:
                        type: string
                      description: List of scorecard IDs to filter by
                    reviewedUserIds:
                      type: array
                      items:
                        type: string
                      description: List of reviewed user IDs to filter by
                    reviewerUserIds:
                      type: array
                      items:
                        type: string
                      description: List of reviewer user IDs to filter by
                    callIds:
                      type: array
                      items:
                        type: string
                      description: List of call IDs to filter by
                cursor:
                  type: string
                  description: Cursor for pagination
      responses:
        "200":
          description: List of answered scorecards
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnsweredScorecardsResponse"
        "401":
          description: Unauthorized

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication using Access Key as username and Access Key Secret as password
      x-airbyte-auth-config:
        title: "Access Key Authentication"
        type: object
        required:
          - access_key
          - access_key_secret
        properties:
          access_key:
            type: string
            title: "Access Key"
            description: "Your Gong API Access Key"
            airbyte_secret: true
          access_key_secret:
            type: string
            title: "Access Key Secret"
            description: "Your Gong API Access Key Secret"
            airbyte_secret: true
        auth_mapping:
          username: "${access_key}"
          password: "${access_key_secret}"

  schemas:
    PaginationRecords:
      type: object
      description: Pagination metadata
      properties:
        totalRecords:
          type: integer
          description: Total number of records
        currentPageSize:
          type: integer
          description: Number of records in current page
        currentPageNumber:
          type: integer
          description: Current page number
        cursor:
          type: string
          description: Cursor for next page

    User:
      type: object
      x-airbyte-entity-name: users
      description: User object
      properties:
        id:
          type: string
          description: Unique user identifier
        emailAddress:
          type: string
          description: User email address
        created:
          type: string
          description: User creation timestamp
        active:
          type: boolean
          description: Whether user is active
        emailAliases:
          type: array
          items:
            type: string
          description: Email aliases for the user
        trustedEmailAddress:
          type: ["string", "null"]
          description: Trusted email address
        firstName:
          type: string
          description: User first name
        lastName:
          type: string
          description: User last name
        title:
          type: ["string", "null"]
          description: Job title
        phoneNumber:
          type: ["string", "null"]
          description: Phone number
        extension:
          type: ["string", "null"]
          description: Phone extension
        personalMeetingUrls:
          type: array
          items:
            type: string
          description: Personal meeting URLs
        settings:
          type: object
          description: User settings
          properties:
            webConferencesRecorded:
              type: boolean
            preventWebConferenceRecording:
              type: boolean
            telephonyCallsImported:
              type: boolean
            emailsImported:
              type: boolean
            preventEmailImport:
              type: boolean
            nonRecordedMeetingsImported:
              type: boolean
            gongConnectEnabled:
              type: boolean
        managerId:
          type: ["string", "null"]
          description: Manager user ID
        meetingConsentPageUrl:
          type: ["string", "null"]
          description: Meeting consent page URL
        spokenLanguages:
          type: array
          items:
            type: object
            properties:
              language:
                type: string
              primary:
                type: boolean
          description: Spoken languages

    UsersResponse:
      type: object
      description: Response containing list of users
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
        records:
          $ref: "#/components/schemas/PaginationRecords"
        requestId:
          type: string
          description: Request identifier

    UserResponse:
      type: object
      description: Response containing single user
      properties:
        user:
          $ref: "#/components/schemas/User"
        requestId:
          type: string
          description: Request identifier

    Call:
      type: object
      x-airbyte-entity-name: calls
      description: Call object
      properties:
        id:
          type: string
          description: Unique call identifier
        url:
          type: string
          description: URL to call in Gong
        title:
          type: string
          description: Call title
        scheduled:
          type: string
          format: date-time
          description: Scheduled time
        started:
          type: string
          format: date-time
          description: Call start time
        duration:
          type: integer
          description: Call duration in seconds
        primaryUserId:
          type: string
          description: Primary user ID
        direction:
          type: string
          description: Call direction (inbound/outbound)
        system:
          type: string
          description: System type
        scope:
          type: string
          description: Call scope
        media:
          type: string
          description: Media type (Audio/Video)
        language:
          type: string
          description: Call language
        workspaceId:
          type: string
          description: Workspace ID
        sdrDisposition:
          type: ["string", "null"]
          description: SDR disposition
        clientUniqueId:
          type: ["string", "null"]
          description: Client unique identifier
        customData:
          type: ["string", "null"]
          description: Custom data
        purpose:
          type: ["string", "null"]
          description: Call purpose
        meetingUrl:
          type: string
          description: Meeting URL
        isPrivate:
          type: boolean
          description: Whether call is private
        calendarEventId:
          type: ["string", "null"]
          description: Calendar event ID

    CallsResponse:
      type: object
      description: Response containing list of calls
      properties:
        calls:
          type: array
          items:
            $ref: "#/components/schemas/Call"
        records:
          $ref: "#/components/schemas/PaginationRecords"
        requestId:
          type: string
          description: Request identifier

    CallResponse:
      type: object
      description: Response containing single call
      properties:
        call:
          $ref: "#/components/schemas/Call"
        requestId:
          type: string
          description: Request identifier

    Workspace:
      type: object
      x-airbyte-entity-name: workspaces
      description: Workspace object
      properties:
        id:
          type: string
          description: Unique workspace identifier
        workspaceId:
          type: string
          description: Unique workspace identifier (legacy)
        name:
          type: string
          description: Workspace name
        description:
          type: string
          description: Workspace description

    WorkspacesResponse:
      type: object
      description: Response containing list of workspaces
      properties:
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/Workspace"
        requestId:
          type: string
          description: Request identifier

    CallTranscript:
      type: object
      x-airbyte-entity-name: call_transcripts
      description: Call transcript object
      properties:
        callId:
          type: string
          description: Call identifier
        transcript:
          type: array
          items:
            type: object
            properties:
              speakerId:
                type: string
                description: Speaker identifier
              topic:
                type: ["string", "null"]
                description: Topic
              sentences:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: integer
                      description: Start time in seconds
                    end:
                      type: integer
                      description: End time in seconds
                    text:
                      type: string
                      description: Sentence text

    TranscriptsResponse:
      type: object
      description: Response containing call transcripts
      properties:
        callTranscripts:
          type: array
          items:
            $ref: "#/components/schemas/CallTranscript"
        records:
          $ref: "#/components/schemas/PaginationRecords"
        requestId:
          type: string
          description: Request identifier

    ExtensiveCall:
      type: object
      x-airbyte-entity-name: calls_extensive
      description: Detailed call object with extended information
      properties:
        metaData:
          type: object
          description: Call metadata
          properties:
            id:
              type: string
              description: Unique call identifier
            url:
              type: string
              description: URL to call in Gong
            title:
              type: string
              description: Call title
            scheduled:
              type: string
              format: date-time
              description: Scheduled time
            started:
              type: string
              format: date-time
              description: Call start time
            duration:
              type: integer
              description: Call duration in seconds
            primaryUserId:
              type: string
              description: Primary user ID
            direction:
              type: string
              description: Call direction
            system:
              type: string
              description: System type
            scope:
              type: string
              description: Call scope
            media:
              type: string
              description: Media type (Audio/Video)
            language:
              type: string
              description: Call language
            workspaceId:
              type: string
              description: Workspace ID
            sdrDisposition:
              type: ["string", "null"]
              description: SDR disposition
            clientUniqueId:
              type: ["string", "null"]
              description: Client unique identifier
            customData:
              type: ["string", "null"]
              description: Custom data
            purpose:
              type: ["string", "null"]
              description: Call purpose
            isPrivate:
              type: boolean
              description: Whether call is private
            meetingUrl:
              type: string
              description: Meeting URL
            calendarEventId:
              type: ["string", "null"]
              description: Calendar event ID
        parties:
          type: array
          description: Call participants
          items:
            type: object
            properties:
              id:
                type: string
                description: Party ID
              emailAddress:
                type: string
                description: Email address
              name:
                type: string
                description: Full name
              title:
                type: string
                description: Job title
              userId:
                type: string
                description: Gong user ID if internal
              speakerId:
                type: ["string", "null"]
                description: Speaker ID for transcript matching
              affiliation:
                type: string
                description: Internal or External
              methods:
                type: array
                items:
                  type: string
                description: Contact methods
              phoneNumber:
                type: string
                description: Phone number
              context:
                type: array
                description: CRM context data linked to this participant
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      description: CRM system name (e.g., Salesforce, HubSpot)
                    objects:
                      type: array
                      description: CRM objects linked to this participant
                      items:
                        type: object
                        properties:
                          objectType:
                            type: string
                            description: CRM object type (Account, Contact, Opportunity, Lead)
                          objectId:
                            type: string
                            description: CRM record ID
                          fields:
                            type: array
                            description: CRM field values
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Field name
                                value:
                                  type: ["string", "number", "null"]
                                  description: Field value
        interaction:
          type: object
          description: Interaction statistics
          properties:
            interactionStats:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Stat name
                  value:
                    type: number
                    description: Stat value
            questions:
              type: object
              properties:
                companyCount:
                  type: integer
                nonCompanyCount:
                  type: integer
        collaboration:
          type: object
          description: Collaboration data
          properties:
            publicComments:
              type: array
              items:
                type: object
        content:
          type: object
          description: Content data including topics and trackers
          properties:
            topics:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  duration:
                    type: number
            trackers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  count:
                    type: integer
                  type:
                    type: string
                  occurrences:
                    type: array
                    items:
                      type: object
            pointsOfInterest:
              type: object
        media:
          type: object
          description: Media URLs
          properties:
            audioUrl:
              type: string
            videoUrl:
              type: string

    ExtensiveCallsResponse:
      type: object
      description: Response containing detailed call data
      properties:
        calls:
          type: array
          items:
            $ref: "#/components/schemas/ExtensiveCall"
        records:
          $ref: "#/components/schemas/PaginationRecords"
        requestId:
          type: string
          description: Request identifier

    UserAggregateActivityStats:
      type: object
      description: Aggregated activity statistics for a user
      properties:
        callsAsHost:
          type: integer
        callsGaveFeedback:
          type: integer
        callsRequestedFeedback:
          type: integer
        callsReceivedFeedback:
          type: integer
        ownCallsListenedTo:
          type: integer
        othersCallsListenedTo:
          type: integer
        callsSharedInternally:
          type: integer
        callsSharedExternally:
          type: integer
        callsScorecardsFilled:
          type: integer
        callsScorecardsReceived:
          type: integer
        callsAttended:
          type: integer
        callsCommentsGiven:
          type: integer
        callsCommentsReceived:
          type: integer
        callsMarkedAsFeedbackGiven:
          type: integer
        callsMarkedAsFeedbackReceived:
          type: integer

    UserAggregateActivity:
      type: object
      x-airbyte-entity-name: stats_activity_aggregate
      description: User with aggregated activity statistics
      properties:
        userId:
          type: string
        userEmailAddress:
          type: string
        userAggregateActivityStats:
          $ref: "#/components/schemas/UserAggregateActivityStats"

    ActivityAggregateResponse:
      type: object
      description: Response containing aggregated activity statistics
      properties:
        requestId:
          type: string
        records:
          $ref: "#/components/schemas/PaginationRecords"
        usersAggregateActivityStats:
          type: array
          items:
            $ref: "#/components/schemas/UserAggregateActivity"
        fromDateTime:
          type: string
        toDateTime:
          type: string
        timeZone:
          type: string

    DailyActivityStats:
      type: object
      description: Daily activity statistics with call IDs
      properties:
        callsAsHost:
          type: array
          items:
            type: string
        callsGaveFeedback:
          type: array
          items:
            type: string
        callsRequestedFeedback:
          type: array
          items:
            type: string
        callsReceivedFeedback:
          type: array
          items:
            type: string
        ownCallsListenedTo:
          type: array
          items:
            type: string
        othersCallsListenedTo:
          type: array
          items:
            type: string
        callsSharedInternally:
          type: array
          items:
            type: string
        callsSharedExternally:
          type: array
          items:
            type: string
        callsAttended:
          type: array
          items:
            type: string
        callsCommentsGiven:
          type: array
          items:
            type: string
        callsCommentsReceived:
          type: array
          items:
            type: string
        callsMarkedAsFeedbackGiven:
          type: array
          items:
            type: string
        callsMarkedAsFeedbackReceived:
          type: array
          items:
            type: string
        callsScorecardsFilled:
          type: array
          items:
            type: string
        callsScorecardsReceived:
          type: array
          items:
            type: string
        fromDate:
          type: string
        toDate:
          type: string

    UserDetailedActivity:
      type: object
      x-airbyte-entity-name: stats_activity_day_by_day
      description: User with detailed daily activity statistics
      properties:
        userId:
          type: string
        userEmailAddress:
          type: string
        userDailyActivityStats:
          type: array
          items:
            $ref: "#/components/schemas/DailyActivityStats"

    ActivityDayByDayResponse:
      type: object
      description: Response containing daily activity statistics
      properties:
        requestId:
          type: string
        records:
          $ref: "#/components/schemas/PaginationRecords"
        usersDetailedActivities:
          type: array
          items:
            $ref: "#/components/schemas/UserDetailedActivity"

    PersonInteractionStat:
      type: object
      description: Individual interaction statistic
      properties:
        name:
          type: string
        value:
          type: number

    UserInteractionStats:
      type: object
      x-airbyte-entity-name: stats_interaction
      description: User with interaction statistics
      properties:
        userId:
          type: string
        userEmailAddress:
          type: string
        personInteractionStats:
          type: array
          items:
            $ref: "#/components/schemas/PersonInteractionStat"

    InteractionStatsResponse:
      type: object
      description: Response containing interaction statistics
      properties:
        requestId:
          type: string
        records:
          $ref: "#/components/schemas/PaginationRecords"
        peopleInteractionStats:
          type: array
          items:
            $ref: "#/components/schemas/UserInteractionStats"
        fromDateTime:
          type: string
        toDateTime:
          type: string
        timeZone:
          type: string

    ScorecardQuestion:
      type: object
      description: A question within a scorecard
      properties:
        questionId:
          type: string
          description: Unique question identifier
        questionRevisionId:
          type: string
          description: Question revision identifier
        questionText:
          type: string
          description: The question text
        questionType:
          type: string
          description: Type of question (e.g., rating, yes/no)
        isRequired:
          type: boolean
          description: Whether the question is required
        isOverall:
          type: boolean
          description: Whether this is an overall rating question
        updaterUserId:
          type: string
          description: User ID of last updater
        answerGuide:
          type: ["string", "null"]
          description: Guide text for answering the question
        minRange:
          type: ["string", "null"]
          description: Minimum range value for range-type questions
        maxRange:
          type: ["string", "null"]
          description: Maximum range value for range-type questions
        created:
          type: string
          format: date-time
          description: Creation timestamp
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        answerOptions:
          type: array
          description: Available answer options
          items:
            type: object
            properties:
              optionId:
                type: string
              optionText:
                type: string
              score:
                type: number

    Scorecard:
      type: object
      x-airbyte-entity-name: settings_scorecards
      description: Scorecard configuration
      properties:
        scorecardId:
          type: string
          description: Unique scorecard identifier
        scorecardName:
          type: string
          description: Name of the scorecard
        workspaceId:
          type: ["string", "null"]
          description: Workspace ID (null if company-wide)
        enabled:
          type: boolean
          description: Whether the scorecard is enabled
        updaterUserId:
          type: string
          description: User ID of last updater
        created:
          type: string
          format: date-time
          description: Creation timestamp
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        reviewMethod:
          type: string
          description: Review method (e.g., MANUAL, AUTOMATIC)
        questions:
          type: array
          items:
            $ref: "#/components/schemas/ScorecardQuestion"

    ScorecardsResponse:
      type: object
      description: Response containing list of scorecards
      properties:
        requestId:
          type: string
          description: Request identifier
        scorecards:
          type: array
          items:
            $ref: "#/components/schemas/Scorecard"

    Tracker:
      type: object
      x-airbyte-entity-name: settings_trackers
      description: Keyword tracker configuration
      properties:
        trackerId:
          type: string
          description: Unique tracker identifier
        trackerName:
          type: string
          description: Name of the tracker
        workspaceId:
          type: ["string", "null"]
          description: Workspace ID (null if company-wide)
        languageKeywords:
          type: array
          description: Keywords by language
          items:
            type: object
            properties:
              language:
                type: string
                description: Language code
              keywords:
                type: array
                description: List of keywords for this language
                items:
                  type: string
              includeRelatedForms:
                type: boolean
                description: Whether to include related word forms
        affiliation:
          type: string
          description: Who the tracker applies to (internal, external, both)
        partOfQuestion:
          type: boolean
          description: Whether this is part of a question
        saidAt:
          type: string
          description: When the keyword should be said (Anytime, etc.)
        saidAtInterval:
          type: ["string", "null"]
          description: Interval for when keyword should be said
        saidAtUnit:
          type: ["string", "null"]
          description: Unit for said at interval
        saidInTopics:
          type: array
          description: Topics where the keyword should be mentioned
          items:
            type: string
        filterQuery:
          type: string
          description: Filter query JSON string
        created:
          type: string
          format: date-time
          description: Creation timestamp
        creatorUserId:
          type: ["string", "null"]
          description: User ID of creator
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        updaterUserId:
          type: ["string", "null"]
          description: User ID of last updater

    TrackersResponse:
      type: object
      description: Response containing list of trackers
      properties:
        requestId:
          type: string
          description: Request identifier
        keywordTrackers:
          type: array
          items:
            $ref: "#/components/schemas/Tracker"

    LibraryFolder:
      type: object
      x-airbyte-entity-name: library_folders
      description: Library folder structure
      properties:
        id:
          type: string
          description: Unique folder identifier
        name:
          type: string
          description: Folder name
        parentFolderId:
          type: ["string", "null"]
          description: Parent folder ID (null for root folders)
        createdBy:
          type: ["string", "null"]
          description: User ID of folder creator
        updated:
          type: string
          format: date-time
          description: Last update timestamp

    LibraryFoldersResponse:
      type: object
      description: Response containing library folder structure
      properties:
        requestId:
          type: string
          description: Request identifier
        folders:
          type: array
          items:
            $ref: "#/components/schemas/LibraryFolder"

    FolderCall:
      type: object
      x-airbyte-entity-name: library_folder_content
      description: Call within a library folder
      properties:
        callId:
          type: string
          description: Unique call identifier
        title:
          type: string
          description: Call title
        started:
          type: string
          format: date-time
          description: Call start time
        duration:
          type: integer
          description: Call duration in seconds
        primaryUserId:
          type: string
          description: Primary user ID
        url:
          type: string
          description: URL to call in Gong

    FolderContentResponse:
      type: object
      description: Response containing calls in a folder
      properties:
        requestId:
          type: string
          description: Request identifier
        id:
          type: string
          description: Folder ID
        name:
          type: string
          description: Folder name
        createdBy:
          type: ["string", "null"]
          description: User ID of folder creator
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        calls:
          type: array
          items:
            $ref: "#/components/schemas/FolderCall"
        records:
          $ref: "#/components/schemas/PaginationRecords"

    CoachingMetrics:
      type: object
      description: Coaching metrics for a user
      properties:
        callsListened:
          type: integer
          description: Number of team calls listened to
        callsAttended:
          type: integer
          description: Number of team calls participated in
        callsWithFeedback:
          type: integer
          description: Number of calls with feedback given
        callsWithComments:
          type: integer
          description: Number of calls with comments
        scorecardsFilled:
          type: integer
          description: Number of scorecards filled

    CoachingData:
      type: object
      x-airbyte-entity-name: coaching
      description: Coaching data for a user
      properties:
        userId:
          type: string
          description: User identifier
        userEmailAddress:
          type: string
          description: User email address
        userName:
          type: string
          description: User name
        isManager:
          type: boolean
          description: Whether the user is a manager
        coachingMetrics:
          $ref: "#/components/schemas/CoachingMetrics"

    CoachingResponse:
      type: object
      description: Response containing coaching metrics
      properties:
        requestId:
          type: string
          description: Request identifier
        coachingData:
          type: array
          items:
            $ref: "#/components/schemas/CoachingData"
        fromDateTime:
          type: string
        toDateTime:
          type: string

    AnsweredScorecardAnswer:
      type: object
      description: An answer to a scorecard question
      properties:
        questionId:
          type: string
          description: Question identifier
        questionRevisionId:
          type: string
          description: Question revision identifier
        isOverall:
          type: boolean
          description: Whether this is an overall rating question
        answer:
          type: string
          description: The answer value
        answerText:
          type: ["string", "null"]
          description: Answer text (for text answers)
        score:
          type: number
          description: Score for the answer
        notApplicable:
          type: boolean
          description: Whether marked as N/A
        selectedOptions:
          type: ["array", "null"]
          description: Selected option IDs for multi-choice questions
          items:
            type: string

    AnsweredScorecard:
      type: object
      x-airbyte-entity-name: stats_activity_scorecards
      description: A completed scorecard
      properties:
        answeredScorecardId:
          type: string
          description: Unique answered scorecard identifier
        scorecardId:
          type: string
          description: Scorecard identifier
        scorecardName:
          type: string
          description: Scorecard name
        callId:
          type: string
          description: Call identifier
        callStartTime:
          type: string
          format: date-time
          description: When the call started
        reviewedUserId:
          type: string
          description: User being reviewed
        reviewerUserId:
          type: string
          description: User who completed the review
        reviewMethod:
          type: string
          description: Review method (MANUAL, AUTOMATIC)
        editorUserId:
          type: ["string", "null"]
          description: User who edited the scorecard
        answeredDateTime:
          type: string
          format: date-time
          description: When the scorecard was completed
        reviewTime:
          type: string
          format: date-time
          description: When the review was completed
        visibilityType:
          type: string
          description: Visibility type (PUBLIC, PRIVATE)
        answers:
          type: array
          items:
            $ref: "#/components/schemas/AnsweredScorecardAnswer"
        overallScore:
          type: number
          description: Overall scorecard score
        visibility:
          type: string
          description: Visibility setting (public, private)

    AnsweredScorecardsResponse:
      type: object
      description: Response containing answered scorecards
      properties:
        requestId:
          type: string
          description: Request identifier
        answeredScorecards:
          type: array
          items:
            $ref: "#/components/schemas/AnsweredScorecard"
        records:
          $ref: "#/components/schemas/PaginationRecords"

