# Asana API Connector
# OpenAPI 3.0 specification with Airbyte extensions

openapi: 3.1.0

info:
  title: Asana API Connector
  version: 0.1.3
  description: |
    Asana is a work management platform that helps teams organize, track, and manage
    projects and tasks. This connector provides access to tasks, projects, workspaces,
    teams, and users for project tracking, workload analysis, and productivity insights.
  x-airbyte-connector-name: asana
  x-airbyte-connector-id: d0243522-dccf-4978-8ba0-37ed47a0bdbf
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Asana API Reference
      url: https://developers.asana.com/reference/rest-api-reference
    - type: changelog
      title: Asana API Changelog
      url: https://developers.asana.com/docs/change-log
    - type: authentication_guide
      title: Asana API Authentication Guide
      url: https://developers.asana.com/docs/authentication
    - type: rate_limits
      title: Asana API Rate Limits
      url: https://developers.asana.com/docs/rate-limits
    - type: api_deprecations
      title: Asana API Deprecations
      url: https://developers.asana.com/docs/deprecations
  x-airbyte-example-questions:
    supported:
      - "What tasks are assigned to me this week?"
      - "List all projects in my workspace"
      - "Summarize my team's workload and task completion rates"
      - "Show me the tasks for the [ProjectName] project"
      - "Who are the team members in my [TeamName] team?"
      - "Find all tasks related to [ClientName] across my workspaces"
      - "Analyze the most active projects in my workspace last month"
      - "Compare task completion rates between my different teams"
      - "Identify overdue tasks across all my projects"
      - "Show me details of my current workspace and its users"
    unsupported:
      - "Create a new task for [TeamMember]"
      - "Update the priority of this task"
      - "Delete the project [ProjectName]"
      - "Schedule a new team meeting"
      - "Add a new team member to [Workspace]"
      - "Move this task to another project"

servers:
  - url: https://app.asana.com/api/1.0
    description: Asana API server

security:
  - oauth2: []

paths:
  # Tasks endpoints
  "/tasks":
    get:
      summary: List tasks
      description: Returns a paginated list of tasks
      operationId: listTasks
      x-airbyte-entity: tasks
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
            example: "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9"
        - name: project
          in: query
          description: The project to filter tasks on
          schema:
            type: string
            example: "987654321"
        - name: workspace
          in: query
          description: The workspace to filter tasks on
          schema:
            type: string
            example: "987654321"
        - name: section
          in: query
          description: The workspace to filter tasks on
          schema:
            type: string
            example: "987654321"
        - name: assignee
          in: query
          description: The assignee to filter tasks on
          schema:
            type: string
            example: "123456789"
        - name: completed_since
          in: query
          description: Only return tasks that have been completed since this time
          schema:
            type: string
            format: date-time
            example: "2023-01-01T00:00:00Z"
        - name: modified_since
          in: query
          description: Only return tasks that have been completed since this time
          schema:
            type: string
            format: date-time
            example: "2023-01-01T00:00:00Z"

      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksList"
        "401":
          description: Unauthorized

  "/projects/{project_gid}/tasks":
    get:
      summary: List tasks from a project
      description: Returns all tasks in a project
      operationId: listProjectTasks
      x-airbyte-entity: project_tasks
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: project_gid
          in: path
          required: true
          description: Project GID to list tasks from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
        - name: completed_since
          in: query
          description: Only return tasks that have been completed since this time
          schema:
            type: string
            format: date-time
            example: "2023-01-01T00:00:00Z"
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksList"
        "401":
          description: Unauthorized

  "/tasks/{task_gid}":
    get:
      summary: Get a task
      description: Get a single task by its ID
      operationId: getTask
      x-airbyte-entity: tasks
      x-airbyte-action: get
      x-airbyte-record-extractor: $.data
      parameters:
        - name: task_gid
          in: path
          required: true
          description: Task GID
          schema:
            type: string
      responses:
        "200":
          description: Task object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResponse"
        "404":
          description: Task not found
        "401":
          description: Unauthorized

  "/workspaces/{workspace_gid}/tasks/search":
    get:
      summary: Search tasks in a workspace
      description: Returns tasks that match the specified search criteria. Note - This endpoint requires a premium Asana account.
      operationId: searchWorkspaceTasks
      x-airbyte-entity: workspace_task_search
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Workspace GID to search tasks in
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
        - name: text
          in: query
          description: Search text to filter tasks
          schema:
            type: string
        - name: completed
          in: query
          description: Filter by completion status
          schema:
            type: boolean
        - name: assignee.any
          in: query
          description: Comma-separated list of assignee GIDs
          schema:
            type: string
        - name: projects.any
          in: query
          description: Comma-separated list of project GIDs
          schema:
            type: string
        - name: sections.any
          in: query
          description: Comma-separated list of section GIDs
          schema:
            type: string
        - name: teams.any
          in: query
          description: Comma-separated list of team GIDs
          schema:
            type: string
        - name: followers.any
          in: query
          description: Comma-separated list of follower GIDs
          schema:
            type: string
        - name: created_at.after
          in: query
          description: Filter tasks created after this date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: created_at.before
          in: query
          description: Filter tasks created before this date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: modified_at.after
          in: query
          description: Filter tasks modified after this date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: modified_at.before
          in: query
          description: Filter tasks modified before this date (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: due_on.after
          in: query
          description: Filter tasks due after this date (ISO 8601 date format)
          schema:
            type: string
            format: date
        - name: due_on.before
          in: query
          description: Filter tasks due before this date (ISO 8601 date format)
          schema:
            type: string
            format: date
        - name: resource_subtype
          in: query
          description: Filter by task resource subtype (e.g., default_task, milestone)
          schema:
            type: string
        - name: sort_by
          in: query
          description: Field to sort by (e.g., created_at, modified_at, due_date)
          schema:
            type: string
        - name: sort_ascending
          in: query
          description: Sort order (true for ascending, false for descending)
          schema:
            type: boolean
      responses:
        "200":
          description: List of tasks matching search criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksList"
        "401":
          description: Unauthorized
        "402":
          description: Payment required (premium feature)

  # Projects endpoints
  "/projects":
    get:
      summary: List projects
      description: Returns a paginated list of projects
      operationId: listProjects
      x-airbyte-entity: projects
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
        - name: workspace
          in: query
          description: The workspace to filter projects on
          schema:
            type: string
        - name: team
          in: query
          description: The team to filter projects on
          schema:
            type: string
        - name: archived
          in: query
          description: Filter by archived status
          schema:
            type: boolean

      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsList"
        "401":
          description: Unauthorized

  "/projects/{project_gid}":
    get:
      summary: Get a project
      description: Get a single project by its ID
      operationId: getProject
      x-airbyte-entity: projects
      x-airbyte-action: get
      x-airbyte-record-extractor: "$.data"
      parameters:
        - name: project_gid
          in: path
          required: true
          description: Project GID
          schema:
            type: string

      responses:
        "200":
          description: Project object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "404":
          description: Project not found
        "401":
          description: Unauthorized

  "/tasks/{task_gid}/projects":
    get:
      summary: List projects for a task
      description: Returns all projects a task is in
      operationId: listTaskProjects
      x-airbyte-entity: task_projects
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: task_gid
          in: path
          required: true
          description: Task GID to list projects from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string

      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsList"
        "401":
          description: Unauthorized

  "/teams/{team_gid}/projects":
    get:
      summary: List projects for a team
      description: Returns all projects for a team
      operationId: listTeamProjects
      x-airbyte-entity: team_projects
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: team_gid
          in: path
          required: true
          description: Team GID to list projects from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string

        - name: archived
          in: query
          description: Filter by archived status
          schema:
            type: boolean
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsList"
        "401":
          description: Unauthorized

  "/workspaces/{workspace_gid}/projects":
    get:
      summary: List projects for a workspace
      description: Returns all projects in a workspace
      operationId: listWorkspaceProjects
      x-airbyte-entity: workspace_projects
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Workspace GID to list projects from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string

        - name: archived
          in: query
          description: Filter by archived status
          schema:
            type: boolean
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsList"
        "401":
          description: Unauthorized

  # Workspaces endpoints
  "/workspaces":
    get:
      summary: List workspaces
      description: Returns a paginated list of workspaces
      operationId: listWorkspaces
      x-airbyte-entity: workspaces
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string

      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspacesList"
        "401":
          description: Unauthorized

  "/workspaces/{workspace_gid}":
    get:
      summary: Get a workspace
      description: Get a single workspace by its ID
      operationId: getWorkspace
      x-airbyte-entity: workspaces
      x-airbyte-action: get
      x-airbyte-record-extractor: "$.data"
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Workspace GID
          schema:
            type: string

      responses:
        "200":
          description: Workspace object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
        "404":
          description: Workspace not found
        "401":
          description: Unauthorized

  # Users endpoints
  "/users":
    get:
      summary: List users
      description: Returns a paginated list of users
      operationId: listUsers
      x-airbyte-entity: users
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
        - name: workspace
          in: query
          description: The workspace to filter users on
          schema:
            type: string
        - name: team
          in: query
          description: The team to filter users on
          schema:
            type: string
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersList"
        "401":
          description: Unauthorized

  "/users/{user_gid}":
    get:
      summary: Get a user
      description: Get a single user by their ID
      operationId: getUser
      x-airbyte-entity: users
      x-airbyte-action: get
      x-airbyte-record-extractor: "$.data"
      parameters:
        - name: user_gid
          in: path
          required: true
          description: User GID
          schema:
            type: string
      responses:
        "200":
          description: User object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          description: User not found
        "401":
          description: Unauthorized

  "/workspaces/{workspace_gid}/users":
    get:
      summary: List users for a workspace
      description: Returns all users in a workspace
      operationId: listWorkspaceUsers
      x-airbyte-entity: workspace_users
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Workspace GID to list users from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersList"
        "401":
          description: Unauthorized

  "/teams/{team_gid}/users":
    get:
      summary: List users for a team
      description: Returns all users in a team
      operationId: listTeamUsers
      x-airbyte-entity: team_users
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: team_gid
          in: path
          required: true
          description: Team GID to list users from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersList"
        "401":
          description: Unauthorized

  # Teams endpoints
  "/teams/{team_gid}":
    get:
      summary: Get a team
      description: Get a single team by its ID
      operationId: getTeam
      x-airbyte-entity: teams
      x-airbyte-action: get
      x-airbyte-record-extractor: "$.data"
      parameters:
        - name: team_gid
          in: path
          required: true
          description: Team GID
          schema:
            type: string
      responses:
        "200":
          description: Team object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponse"
        "404":
          description: Team not found
        "401":
          description: Unauthorized

  "/workspaces/{workspace_gid}/teams":
    get:
      summary: List teams for a workspace
      description: Returns all teams in a workspace
      operationId: listWorkspaceTeams
      x-airbyte-entity: workspace_teams
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: workspace_gid
          in: path
          required: true
          description: Workspace GID to list teams from
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
      responses:
        "200":
          description: List of teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsList"
        "401":
          description: Unauthorized

  "/users/{user_gid}/teams":
    get:
      summary: List teams for a user
      description: Returns all teams a user is a member of
      operationId: listUserTeams
      x-airbyte-entity: user_teams
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: user_gid
          in: path
          required: true
          description: User GID to list teams from
          schema:
            type: string
        - name: organization
          in: query
          required: true
          description: The workspace or organization to filter teams on
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
      responses:
        "200":
          description: List of teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsList"
        "401":
          description: Unauthorized

  # Attachments endpoints
  "/attachments":
    get:
      summary: List attachments
      description: Returns a list of attachments for an object (task, project, etc.)
      operationId: listAttachments
      x-airbyte-entity: attachments
      x-airbyte-action: list
      x-airbyte-record-extractor: "$.data"
      x-airbyte-meta-extractor:
        next_page: $.next_page
      parameters:
        - name: parent
          in: query
          required: true
          description: Globally unique identifier for the object to fetch attachments for (e.g., a task GID)
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset token
          schema:
            type: string
      responses:
        "200":
          description: List of attachments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsList"
        "401":
          description: Unauthorized
        "404":
          description: Parent object not found

  "/attachments/{attachment_gid}":
    get:
      summary: Get an attachment
      description: Get details for a single attachment by its GID
      operationId: getAttachment
      x-airbyte-entity: attachments
      x-airbyte-action: get
      x-airbyte-record-extractor: "$.data"
      parameters:
        - name: attachment_gid
          in: path
          required: true
          description: Globally unique identifier for the attachment
          schema:
            type: string
      responses:
        "200":
          description: Attachment object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentResponse"
        "404":
          description: Attachment not found
        "401":
          description: Unauthorized

  "/attachments/{attachment_gid}:download":
    get:
      summary: Download attachment
      description: |
        Downloads the file content of an attachment. This operation first retrieves the attachment
        metadata to get the download_url, then downloads the file from that URL.
      operationId: downloadAttachment
      x-airbyte-entity: attachments
      x-airbyte-action: download
      x-airbyte-file-url: data.download_url
      x-airbyte-path-override:
        path: /attachments/{attachment_gid}
      parameters:
        - name: attachment_gid
          in: path
          required: true
          description: Globally unique identifier for the attachment
          schema:
            type: string
      responses:
        "200":
          description: Attachment file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: Attachment not found
        "401":
          description: Unauthorized

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for Asana API
      flows:
        authorizationCode:
          authorizationUrl: https://app.asana.com/-/oauth_authorize
          tokenUrl: https://app.asana.com/-/oauth_token
          refreshUrl: https://app.asana.com/-/oauth_token
          scopes:
            default: Default access to user's Asana data
            # tasks:read: Read access to tasks
            # tasks:write: Write access to tasks
            # tasks:delete: Delete tasks
            # projects:read: Read access to projects
            # projects:write: Write access to projects
            # users:read: Read access to users
            # workspaces:read: Read access to workspaces
      x-airbyte-token-refresh:
        auth_style: body
        body_format: form
      x-airbyte-auth-config:
        title: "Asana OAuth 2.0"
        type: object
        required:
          - access_token
          - refresh_token
          - client_id
          - client_secret
        properties:
          access_token:
            type: string
            title: "Access Token"
            description: "OAuth access token for API requests"
            airbyte_secret: true
          refresh_token:
            type: string
            title: "Refresh Token"
            description: "OAuth refresh token for automatic token renewal"
            airbyte_secret: true
          client_id:
            type: string
            title: "Client ID"
            description: "Connected App Consumer Key"
          client_secret:
            type: string
            title: "Client Secret"
            description: "Connected App Consumer Secret"
            airbyte_secret: true
        auth_mapping:
          access_token: "${access_token}"
          refresh_token: "${refresh_token}"
          client_id: "${client_id}"
          client_secret: "${client_secret}"

  schemas:
    # Task schemas
    TaskCompact:
      type: object
      x-airbyte-entity-name: tasks
      description: Compact task object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (task)
        name:
          type: string
          description: Task name
        resource_subtype:
          type: string
          description: Task subtype
        created_by:
          type: object
          description: User who created the task
          properties:
            gid:
              type: string
            resource_type:
              type: string

    Task:
      type: object
      description: Full task object
      properties:
        gid:
          type: string
          actual_time_minutes:
            type: ["integer", "null"]
          assignee:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string
          assignee_status:
            type: string
          assignee_section:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string
          completed:
            type: boolean
          completed_at:
            type: ["string", "null"]
          created_at:
            type: string
          due_at:
            type: ["string", "null"]
          due_on:
            type: ["string", "null"]
          followers:
            type: array
            items:
              type: object
              properties:
                gid:
                  type: string
                name:
                  type: string
                resource_type:
                  type: string
          hearted:
            type: boolean
          hearts:
            type: array
          liked:
            type: boolean
          likes:
            type: array
          memberships:
            type: array
            items:
              type: object
              properties:
                project:
                  type: object
                  properties:
                    gid:
                      type: string
                    name:
                      type: string
                    resource_type:
                      type: string
                section:
                  type: object
                  properties:
                    gid:
                      type: string
                    name:
                      type: string
                    resource_type:
                      type: string
          modified_at:
            type: string
          name:
            type: string
          notes:
            type: string
          num_hearts:
            type: integer
          num_likes:
            type: integer
          parent:
            type: ["object", "null"]
          permalink_url:
            type: string
          projects:
            type: array
            items:
              type: object
              properties:
                gid:
                  type: string
                name:
                  type: string
                resource_type:
                  type: string
          resource_type:
            type: string
          start_at:
            type: ["string", "null"]
          start_on:
            type: ["string", "null"]
          tags:
            type: array
          resource_subtype:
            type: string
          workspace:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string

    TaskResponse:
      type: object
      description: Task response wrapper
      properties:
        data:
          $ref: "#/components/schemas/Task"

    TasksList:
      type: object
      description: Paginated list of tasks containing compact task objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaskCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string

    # Project schemas
    ProjectCompact:
      type: object
      x-airbyte-entity-name: projects
      description: Compact project object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (project)
        name:
          type: string
          description: Project name

    Project:
      type: object
      description: Full project object
      properties:
        gid:
          type: string
        archived:
          type: boolean
        color:
          type: ["string", "null"]
        completed:
          type: boolean
        completed_at:
          type: ["string", "null"]
        created_at:
          type: string
        current_status:
          type: ["object", "null"]
          properties:
            gid:
              type: string
            author:
              type: object
              properties:
                gid:
                  type: string
                name:
                  type: string
                resource_type:
                  type: string
            color:
              type: string
            created_at:
              type: string
            created_by:
              type: object
              properties:
                gid:
                  type: string
                name:
                  type: string
                resource_type:
                  type: string
            modified_at:
              type: string
            resource_type:
              type: string
            text:
              type: string
            title:
              type: string
        current_status_update:
          type: ["object", "null"]
          properties:
            gid:
              type: string
            resource_type:
              type: string
            resource_subtype:
              type: string
            title:
              type: string
        custom_fields:
          type: array
        default_access_level:
          type: string
        default_view:
          type: string
        due_on:
          type: ["string", "null"]
        due_date:
          type: ["string", "null"]
        followers:
          type: array
          items:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string
        members:
          type: array
          items:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string
        minimum_access_level_for_customization:
          type: string
        minimum_access_level_for_sharing:
          type: string
        modified_at:
          type: string
        name:
          type: string
        notes:
          type: string
        owner:
          type: object
          properties:
            gid:
              type: string
            name:
              type: string
            resource_type:
              type: string
        permalink_url:
          type: string
        privacy_setting:
          type: string
        public:
          type: boolean
        resource_type:
          type: string
        start_on:
          type: ["string", "null"]
        team:
          type: object
          properties:
            gid:
              type: string
            name:
              type: string
            resource_type:
              type: string
        workspace:
          type: object
          properties:
            gid:
              type: string
            name:
              type: string
            resource_type:
              type: string

    ProjectResponse:
      type: object
      description: Project response wrapper
      properties:
        data:
          $ref: "#/components/schemas/Project"

    ProjectsList:
      type: object
      description: Paginated list of projects containing compact project objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string

    # Workspace schemas
    WorkspaceCompact:
      type: object
      x-airbyte-entity-name: workspaces
      description: Compact workspace object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (workspace)
        name:
          type: string
          description: Workspace name

    Workspace:
      type: object
      description: Full workspace object
      properties:
        gid:
          type: string
        resource_type:
          type: string
        name:
          type: string
        email_domains:
          type: array
          items:
            type: string
        is_organization:
          type: boolean

    WorkspaceResponse:
      type: object
      description: Workspace response wrapper
      properties:
        data:
          $ref: "#/components/schemas/Workspace"

    WorkspacesList:
      type: object
      description: Paginated list of workspaces containing compact workspace objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string

    # User schemas
    UserCompact:
      type: object
      x-airbyte-entity-name: users
      description: Compact user object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (user)
        name:
          type: string
          description: User name

    User:
      type: object
      description: Full user object
      properties:
        gid:
          type: string
        email:
          type: string
        name:
          type: string
        photo:
          type: ["object", "null"]
        resource_type:
          type: string
        workspaces:
          type: array
          items:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
              resource_type:
                type: string

    UserResponse:
      type: object
      description: User response wrapper
      properties:
        data:
          $ref: "#/components/schemas/User"

    UsersList:
      type: object
      description: Paginated list of users containing compact user objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string

    # Team schemas
    TeamCompact:
      type: object
      x-airbyte-entity-name: teams
      description: Compact team object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (team)
        name:
          type: string
          description: Team name

    Team:
      type: object
      description: Full team object
      properties:
        gid:
          type: string
        name:
          type: string
        organization:
          type: object
          properties:
            gid:
              type: string
            name:
              type: string
            resource_type:
              type: string
        permalink_url:
          type: string
        resource_type:
          type: string

    TeamResponse:
      type: object
      description: Team response wrapper
      properties:
        data:
          $ref: "#/components/schemas/Team"

    TeamsList:
      type: object
      description: Paginated list of teams containing compact team objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TeamCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string

    # Attachment schemas
    AttachmentCompact:
      type: object
      x-airbyte-entity-name: attachments
      description: Compact attachment object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (attachment)
        name:
          type: string
          description: The name of the attachment
        resource_subtype:
          type: string
          description: The type of the attachment (e.g., external, dropbox, gdrive, asana, etc.)

    Attachment:
      type: object
      description: Full attachment object
      properties:
        gid:
          type: string
          description: Globally unique identifier
        resource_type:
          type: string
          description: Resource type (attachment)
        name:
          type: string
          description: The name of the attachment
        resource_subtype:
          type: string
          description: The type of the attachment (e.g., external, dropbox, gdrive, etc.)
        created_at:
          type: string
          format: date-time
          description: The time at which this attachment was created
        download_url:
          type: ["string", "null"]
          format: uri
          description: The URL where the attachment can be downloaded. May be null if the attachment is hosted externally.
        permanent_url:
          type: ["string", "null"]
          format: uri
          description: The permanent URL of the attachment. May be null if the attachment does not support permanent URLs.
        host:
          type: string
          description: The service hosting the attachment (asana, dropbox, gdrive, box, etc.)
        parent:
          type: object
          description: The parent object this attachment is attached to
          properties:
            gid:
              type: string
            resource_type:
              type: string
            name:
              type: string
            resource_subtype:
              type: string
              description: The subtype of the parent resource
        view_url:
          type: ["string", "null"]
          format: uri
          description: The URL where the attachment can be viewed in a browser
        size:
          type: ["integer", "null"]
          description: The size of the attachment in bytes

    AttachmentResponse:
      type: object
      description: Attachment response wrapper
      properties:
        data:
          $ref: "#/components/schemas/Attachment"

    AttachmentsList:
      type: object
      description: Paginated list of attachments containing compact attachment objects
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AttachmentCompact"
        next_page:
          type: ["object", "null"]
          properties:
            offset:
              type: string
            path:
              type: string
            uri:
              type: string
