openapi: 3.1.0
info:
  title: GitHub API Connector
  version: 0.1.0
  x-airbyte-connector-name: github
  x-airbyte-connector-id: ef69ef6e-aa7f-4af1-a01d-ef775033524e
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: GitHub REST API Documentation
      url: https://docs.github.com/en/rest
    - type: api_release_history
      title: GitHub REST API Release History
      url: https://docs.github.com/en/rest/about-the-rest-api/api-versions
    - type: migration_guide
      title: GitHub REST API Migration Guide
      url: https://docs.github.com/en/rest/about-the-rest-api/breaking-changes
    - type: rate_limits
      title: GitHub REST API Rate Limits
      url: https://docs.github.com/en/rest/using-the-rest-api/rate-limits-for-the-rest-api
    - type: authentication_guide
      title: GitHub REST API Authentication Guide
      url: https://docs.github.com/en/rest/authentication/authenticating-to-the-rest-api

servers:
  - url: https://api.github.com
    description: GitHub API Server

security:
  - githubOAuth: []

components:
  securitySchemes:
    githubOAuth:
      type: oauth2
      description: GitHub OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Full control of private repositories
            read:user: Read user profile data
            user:email: Access user email addresses
            read:org: Read organization membership
            read:discussion: Read team discussions

paths:
  /graphql:repositories:get:
    post:
      summary: Get a repository
      description: Gets information about a specific GitHub repository using GraphQL
      operationId: Repositories_Get
      x-airbyte-entity: repositories
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository
      tags:
        - Repositories
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository (username or organization)
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetRepository($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                {{ fields }}
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: Repository retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        description: Repository object with selected fields
        "404":
          description: Repository not found

  /graphql:repositories:list:
    post:
      summary: List repositories for a user
      description: Returns a list of repositories for the specified user using GraphQL
      operationId: Repositories_List
      x-airbyte-entity: repositories
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.user.repositories.nodes
      tags:
        - Repositories
      parameters:
        - name: username
          in: query
          required: true
          description: The username of the user whose repositories to list
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination (from previous response's endCursor)
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListRepositories($login: String!, $first: Int!, $after: String) {
              user(login: $login) {
                repositories(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ username }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: List of repositories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          repositories:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                description: Array of repository results
                                items:
                                  type: object
                                  description: Repository object with selected fields
        "404":
          description: User not found

  /graphql:repositories:
    post:
      summary: Search GitHub repositories using GraphQL
      description: |
        Search for GitHub repositories using GitHub's powerful search syntax.
        Examples: "language:python stars:>1000", "topic:machine-learning", "org:facebook is:public"
      operationId: Repositories_Search
      x-airbyte-entity: repositories
      x-airbyte-action: search
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.search.nodes
      tags:
        - Search
      parameters:
        - name: query
          in: query
          required: true
          description: |
            GitHub repository search query. Examples:
            - "language:python stars:>1000"
            - "topic:machine-learning"
            - "org:facebook is:public"
          schema:
            type: string
          example: "language:python stars:>1000"
        - name: limit
          in: query
          required: false
          description: Number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: after
          in: query
          required: false
          description: Cursor for pagination (from previous response's endCursor)
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: |
            Optional array of field names to select.
            If not provided, uses default fields.
          schema:
            type: array
            items:
              type: string
          example:
            [
              "id",
              "name",
              "nameWithOwner",
              "stargazerCount",
              "primaryLanguage { name }",
            ]

      requestBody:
        required: true
        description: GraphQL query is automatically constructed from parameters
        x-airbyte-body-type:
          type: graphql
          query: |
            query SearchRepositories($searchQuery: String!, $first: Int!, $after: String) {
              search(query: $searchQuery, type: REPOSITORY, first: $first, after: $after) {
                repositoryCount
                pageInfo {
                  hasNextPage
                  endCursor
                }
                nodes {
                  ... on Repository {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            searchQuery: "{{ query }}"
            first: "{{ limit }}"
            after: "{{ after }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: Repository search results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search:
                        type: object
                        properties:
                          repositoryCount:
                            type: integer
                            description: Total number of repositories matching the query
                          pageInfo:
                            type: object
                            properties:
                              hasNextPage:
                                type: boolean
                              endCursor:
                                type:
                                  - string
                                  - "null"
                          nodes:
                            type: array
                            description: Array of repository results
                            items:
                              type: object
                              description: Repository object with selected fields

  # Organization Repositories endpoint
  /graphql:org_repositories:list:
    post:
      summary: List repositories for an organization
      description: Returns a list of repositories for the specified organization using GraphQL
      operationId: OrgRepositories_List
      x-airbyte-entity: org_repositories
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.organization.repositories.nodes
      tags:
        - Repositories
      parameters:
        - name: org
          in: query
          required: true
          description: The organization login/username
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListOrgRepositories($login: String!, $first: Int!, $after: String) {
              organization(login: $login) {
                repositories(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ org }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id name nameWithOwner description url createdAt updatedAt pushedAt forkCount stargazerCount isPrivate isFork isArchived isTemplate hasIssuesEnabled hasWikiEnabled primaryLanguage { name } licenseInfo { name spdxId } owner { login avatarUrl } defaultBranchRef { name } repositoryTopics(first: 10) { nodes { topic { name } } }"

      responses:
        "200":
          description: List of repositories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization:
                        type: object
                        properties:
                          repositories:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Organization not found

  # Branches endpoints
  /graphql:branches:list:
    post:
      summary: List branches for a repository
      description: Returns a list of branches for the specified repository using GraphQL
      operationId: Branches_List
      x-airbyte-entity: branches
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.refs.nodes
      tags:
        - Branches
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListBranches($owner: String!, $name: String!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                refs(refPrefix: "refs/heads/", first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "name prefix target { ... on Commit { oid commitUrl message author { name email date } } } associatedPullRequests(first: 1) { totalCount }"

      responses:
        "200":
          description: List of branches
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          refs:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:branches:get:
    post:
      summary: Get a specific branch
      description: Gets information about a specific branch using GraphQL
      operationId: Branches_Get
      x-airbyte-entity: branches
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.ref
      tags:
        - Branches
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: branch
          in: query
          required: true
          description: The branch name
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetBranch($owner: String!, $name: String!, $branch: String!) {
              repository(owner: $owner, name: $name) {
                ref(qualifiedName: $branch) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            branch: "refs/heads/{{ branch }}"
          default_fields: "name prefix target { ... on Commit { oid commitUrl message author { name email date } } } associatedPullRequests(first: 1) { totalCount }"

      responses:
        "200":
          description: Branch retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          ref:
                            type: object
        "404":
          description: Branch not found

  # Commits endpoints
  /graphql:commits:list:
    post:
      summary: List commits for a repository
      description: Returns a list of commits for the default branch using GraphQL
      operationId: Commits_List
      x-airbyte-entity: commits
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.defaultBranchRef.target.history.nodes
      tags:
        - Commits
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListCommits($owner: String!, $name: String!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                defaultBranchRef {
                  target {
                    ... on Commit {
                      history(first: $first, after: $after) {
                        pageInfo {
                          hasNextPage
                          endCursor
                        }
                        nodes {
                          {{ fields }}
                        }
                      }
                    }
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "oid message messageHeadline committedDate author { name email } additions deletions changedFiles parents(first: 5) { nodes { oid } }"

      responses:
        "200":
          description: List of commits
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          defaultBranchRef:
                            type: object
                            properties:
                              target:
                                type: object
                                properties:
                                  history:
                                    type: object
                                    properties:
                                      pageInfo:
                                        type: object
                                        properties:
                                          hasNextPage:
                                            type: boolean
                                          endCursor:
                                            type:
                                              - string
                                              - "null"
                                      nodes:
                                        type: array
                                        items:
                                          type: object
        "404":
          description: Repository not found

  /graphql:commits:get:
    post:
      summary: Get a specific commit
      description: Gets information about a specific commit by SHA using GraphQL
      operationId: Commits_Get
      x-airbyte-entity: commits
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.object
      tags:
        - Commits
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: sha
          in: query
          required: true
          description: The commit SHA
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetCommit($owner: String!, $name: String!, $oid: GitObjectID!) {
              repository(owner: $owner, name: $name) {
                object(oid: $oid) {
                  ... on Commit {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            oid: "{{ sha }}"
          default_fields: "oid message messageHeadline committedDate author { name email } additions deletions changedFiles parents(first: 5) { nodes { oid } }"

      responses:
        "200":
          description: Commit retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          object:
                            type: object
        "404":
          description: Commit not found

  # Releases endpoints
  /graphql:releases:list:
    post:
      summary: List releases for a repository
      description: Returns a list of releases for the specified repository using GraphQL
      operationId: Releases_List
      x-airbyte-entity: releases
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.releases.nodes
      tags:
        - Releases
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListReleases($owner: String!, $name: String!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                releases(first: $first, after: $after, orderBy: {field: CREATED_AT, direction: DESC}) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId name tagName description publishedAt createdAt isPrerelease isDraft author { login avatarUrl } releaseAssets(first: 10) { nodes { name downloadUrl size } }"

      responses:
        "200":
          description: List of releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          releases:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:releases:get:
    post:
      summary: Get a specific release
      description: Gets information about a specific release by tag name using GraphQL
      operationId: Releases_Get
      x-airbyte-entity: releases
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.release
      tags:
        - Releases
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: tag
          in: query
          required: true
          description: The release tag name
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetRelease($owner: String!, $name: String!, $tagName: String!) {
              repository(owner: $owner, name: $name) {
                release(tagName: $tagName) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            tagName: "{{ tag }}"
          default_fields: "id databaseId name tagName description publishedAt createdAt isPrerelease isDraft author { login avatarUrl } releaseAssets(first: 10) { nodes { name downloadUrl size } }"

      responses:
        "200":
          description: Release retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          release:
                            type: object
        "404":
          description: Release not found

  # Issues endpoints
  /graphql:issues:list:
    post:
      summary: List issues for a repository
      description: Returns a list of issues for the specified repository using GraphQL
      operationId: Issues_List
      x-airbyte-entity: issues
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.issues.nodes
      tags:
        - Issues
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: states
          in: query
          required: false
          description: Filter by issue state
          schema:
            type: array
            items:
              type: string
              enum: [OPEN, CLOSED]
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListIssues($owner: String!, $name: String!, $first: Int!, $after: String, $states: [IssueState!]) {
              repository(owner: $owner, name: $name) {
                issues(first: $first, after: $after, states: $states, orderBy: {field: CREATED_AT, direction: DESC}) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
            states: "{{ states }}"
          default_fields: "id databaseId number title body state stateReason createdAt updatedAt closedAt author { login avatarUrl } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } milestone { title number } url locked comments { totalCount }"

      responses:
        "200":
          description: List of issues
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          issues:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:issues:get:
    post:
      summary: Get a specific issue
      description: Gets information about a specific issue using GraphQL
      operationId: Issues_Get
      x-airbyte-entity: issues
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.issue
      tags:
        - Issues
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The issue number
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetIssue($owner: String!, $name: String!, $number: Int!) {
              repository(owner: $owner, name: $name) {
                issue(number: $number) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
          default_fields: "id databaseId number title body bodyHTML state stateReason createdAt updatedAt closedAt author { login avatarUrl } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } milestone { title number } url locked comments { totalCount }"

      responses:
        "200":
          description: Issue retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          issue:
                            type: object
        "404":
          description: Issue not found

  /graphql:issues:search:
    post:
      summary: Search issues
      description: Search for issues using GitHub's search syntax
      operationId: Issues_Search
      x-airbyte-entity: issues
      x-airbyte-action: search
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.search.nodes
      tags:
        - Issues
      parameters:
        - name: query
          in: query
          required: true
          description: |
            GitHub issue search query. Examples:
            - "repo:owner/name is:issue is:open"
            - "repo:owner/name is:issue label:bug"
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query SearchIssues($searchQuery: String!, $first: Int!, $after: String) {
              search(query: $searchQuery, type: ISSUE, first: $first, after: $after) {
                issueCount
                pageInfo {
                  hasNextPage
                  endCursor
                }
                nodes {
                  ... on Issue {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            searchQuery: "{{ query }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId number title body state stateReason createdAt updatedAt closedAt author { login avatarUrl } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } milestone { title number } url locked comments { totalCount }"

      responses:
        "200":
          description: Issue search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search:
                        type: object
                        properties:
                          issueCount:
                            type: integer
                          pageInfo:
                            type: object
                            properties:
                              hasNextPage:
                                type: boolean
                              endCursor:
                                type:
                                  - string
                                  - "null"
                          nodes:
                            type: array
                            items:
                              type: object

  # Pull Requests endpoints
  /graphql:pull_requests:list:
    post:
      summary: List pull requests for a repository
      description: Returns a list of pull requests for the specified repository using GraphQL
      operationId: PullRequests_List
      x-airbyte-entity: pull_requests
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.pullRequests.nodes
      tags:
        - PullRequests
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: states
          in: query
          required: false
          description: Filter by pull request state
          schema:
            type: array
            items:
              type: string
              enum: [OPEN, CLOSED, MERGED]
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListPullRequests($owner: String!, $name: String!, $first: Int!, $after: String, $states: [PullRequestState!]) {
              repository(owner: $owner, name: $name) {
                pullRequests(first: $first, after: $after, states: $states, orderBy: {field: CREATED_AT, direction: DESC}) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
            states: "{{ states }}"
          default_fields: "id databaseId number title body state isDraft createdAt updatedAt closedAt mergedAt author { login avatarUrl } baseRefName headRefName mergeable merged mergedBy { login } additions deletions changedFiles commits { totalCount } comments { totalCount } reviews { totalCount } reviewRequests { totalCount } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } url"

      responses:
        "200":
          description: List of pull requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          pullRequests:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:pull_requests:get:
    post:
      summary: Get a specific pull request
      description: Gets information about a specific pull request using GraphQL
      operationId: PullRequests_Get
      x-airbyte-entity: pull_requests
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.pullRequest
      tags:
        - PullRequests
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The pull request number
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetPullRequest($owner: String!, $name: String!, $number: Int!) {
              repository(owner: $owner, name: $name) {
                pullRequest(number: $number) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
          default_fields: "id databaseId number title body bodyHTML state isDraft createdAt updatedAt closedAt mergedAt author { login avatarUrl } baseRefName headRefName mergeable merged mergedBy { login } additions deletions changedFiles commits { totalCount } comments { totalCount } reviews { totalCount } reviewRequests { totalCount } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } url"

      responses:
        "200":
          description: Pull request retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          pullRequest:
                            type: object
        "404":
          description: Pull request not found

  /graphql:pull_requests:search:
    post:
      summary: Search pull requests
      description: Search for pull requests using GitHub's search syntax
      operationId: PullRequests_Search
      x-airbyte-entity: pull_requests
      x-airbyte-action: search
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.search.nodes
      tags:
        - PullRequests
      parameters:
        - name: query
          in: query
          required: true
          description: |
            GitHub PR search query. Examples:
            - "repo:owner/name type:pr is:open"
            - "repo:owner/name type:pr author:username"
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query SearchPullRequests($searchQuery: String!, $first: Int!, $after: String) {
              search(query: $searchQuery, type: ISSUE, first: $first, after: $after) {
                issueCount
                pageInfo {
                  hasNextPage
                  endCursor
                }
                nodes {
                  ... on PullRequest {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            searchQuery: "{{ query }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId number title body state isDraft createdAt updatedAt closedAt mergedAt author { login avatarUrl } baseRefName headRefName mergeable merged mergedBy { login } additions deletions changedFiles commits { totalCount } comments { totalCount } reviews { totalCount } reviewRequests { totalCount } assignees(first: 10) { nodes { login } } labels(first: 10) { nodes { name color } } url"

      responses:
        "200":
          description: Pull request search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search:
                        type: object
                        properties:
                          issueCount:
                            type: integer
                          pageInfo:
                            type: object
                            properties:
                              hasNextPage:
                                type: boolean
                              endCursor:
                                type:
                                  - string
                                  - "null"
                          nodes:
                            type: array
                            items:
                              type: object

  # Reviews endpoint
  /graphql:reviews:list:
    post:
      summary: List reviews for a pull request
      description: Returns a list of reviews for the specified pull request using GraphQL
      operationId: Reviews_List
      x-airbyte-entity: reviews
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.pullRequest.reviews.nodes
      tags:
        - Reviews
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The pull request number
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListReviews($owner: String!, $name: String!, $number: Int!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                pullRequest(number: $number) {
                  reviews(first: $first, after: $after) {
                    pageInfo {
                      hasNextPage
                      endCursor
                    }
                    nodes {
                      {{ fields }}
                    }
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId state body submittedAt author { login avatarUrl } comments { totalCount }"

      responses:
        "200":
          description: List of reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          pullRequest:
                            type: object
                            properties:
                              reviews:
                                type: object
                                properties:
                                  pageInfo:
                                    type: object
                                    properties:
                                      hasNextPage:
                                        type: boolean
                                      endCursor:
                                        type:
                                          - string
                                          - "null"
                                  nodes:
                                    type: array
                                    items:
                                      type: object
        "404":
          description: Pull request not found

  # Comments endpoints (issue comments)
  /graphql:comments:list:
    post:
      summary: List comments for an issue
      description: Returns a list of comments for the specified issue using GraphQL
      operationId: Comments_List
      x-airbyte-entity: comments
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.issue.comments.nodes
      tags:
        - Comments
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The issue number
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListComments($owner: String!, $name: String!, $number: Int!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                issue(number: $number) {
                  comments(first: $first, after: $after) {
                    pageInfo {
                      hasNextPage
                      endCursor
                    }
                    nodes {
                      {{ fields }}
                    }
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId body bodyHTML createdAt updatedAt author { login avatarUrl } url isMinimized minimizedReason"

      responses:
        "200":
          description: List of comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          issue:
                            type: object
                            properties:
                              comments:
                                type: object
                                properties:
                                  pageInfo:
                                    type: object
                                    properties:
                                      hasNextPage:
                                        type: boolean
                                      endCursor:
                                        type:
                                          - string
                                          - "null"
                                  nodes:
                                    type: array
                                    items:
                                      type: object
        "404":
          description: Issue not found

  /graphql:comments:get:
    post:
      summary: Get a specific comment
      description: |
        Gets information about a specific issue comment by its GraphQL node ID.

        Note: This endpoint requires a GraphQL node ID (e.g., 'IC_kwDOBZtLds6YWTMj'),
        not a numeric database ID. You can obtain node IDs from the Comments_List response,
        where each comment includes both 'id' (node ID) and 'databaseId' (numeric ID).
      operationId: Comments_Get
      x-airbyte-entity: comments
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.node
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          description: The GraphQL node ID of the comment
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetComment($id: ID!) {
              node(id: $id) {
                ... on IssueComment {
                  {{ fields }}
                }
              }
            }
          variables:
            id: "{{ id }}"
          default_fields: "id databaseId body bodyHTML createdAt updatedAt author { login avatarUrl } url isMinimized minimizedReason"

      responses:
        "200":
          description: Comment retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      node:
                        type: object
        "404":
          description: Comment not found

  # PR Comments endpoints
  /graphql:pr_comments:list:
    post:
      summary: List comments for a pull request
      description: Returns a list of comments for the specified pull request using GraphQL
      operationId: PRComments_List
      x-airbyte-entity: pr_comments
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.pullRequest.comments.nodes
      tags:
        - Comments
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The pull request number
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListPRComments($owner: String!, $name: String!, $number: Int!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                pullRequest(number: $number) {
                  comments(first: $first, after: $after) {
                    pageInfo {
                      hasNextPage
                      endCursor
                    }
                    nodes {
                      {{ fields }}
                    }
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId body bodyHTML createdAt updatedAt author { login avatarUrl } url isMinimized minimizedReason"

      responses:
        "200":
          description: List of pull request comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          pullRequest:
                            type: object
                            properties:
                              comments:
                                type: object
                                properties:
                                  pageInfo:
                                    type: object
                                    properties:
                                      hasNextPage:
                                        type: boolean
                                      endCursor:
                                        type:
                                          - string
                                          - "null"
                                  nodes:
                                    type: array
                                    items:
                                      type: object
        "404":
          description: Pull request not found

  /graphql:pr_comments:get:
    post:
      summary: Get a specific PR comment
      description: |
        Gets information about a specific pull request comment by its GraphQL node ID.

        Note: This endpoint requires a GraphQL node ID (e.g., 'IC_kwDOBZtLds6YWTMj'),
        not a numeric database ID. You can obtain node IDs from the PRComments_List response,
        where each comment includes both 'id' (node ID) and 'databaseId' (numeric ID).
      operationId: PRComments_Get
      x-airbyte-entity: pr_comments
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.node
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          description: The GraphQL node ID of the comment
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetPRComment($id: ID!) {
              node(id: $id) {
                ... on IssueComment {
                  {{ fields }}
                }
              }
            }
          variables:
            id: "{{ id }}"
          default_fields: "id databaseId body bodyHTML createdAt updatedAt author { login avatarUrl } url isMinimized minimizedReason"

      responses:
        "200":
          description: PR comment retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      node:
                        type: object
        "404":
          description: Comment not found

  # Labels endpoints
  /graphql:labels:list:
    post:
      summary: List labels for a repository
      description: Returns a list of labels for the specified repository using GraphQL
      operationId: Labels_List
      x-airbyte-entity: labels
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.labels.nodes
      tags:
        - Labels
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListLabels($owner: String!, $name: String!, $first: Int!, $after: String) {
              repository(owner: $owner, name: $name) {
                labels(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id name color description createdAt url issues { totalCount } pullRequests { totalCount }"

      responses:
        "200":
          description: List of labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          labels:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:labels:get:
    post:
      summary: Get a specific label
      description: Gets information about a specific label by name using GraphQL
      operationId: Labels_Get
      x-airbyte-entity: labels
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.label
      tags:
        - Labels
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: name
          in: query
          required: true
          description: The label name
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetLabel($owner: String!, $repoName: String!, $labelName: String!) {
              repository(owner: $owner, name: $repoName) {
                label(name: $labelName) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            repoName: "{{ repo }}"
            labelName: "{{ name }}"
          default_fields: "id name color description createdAt url issues { totalCount } pullRequests { totalCount }"

      responses:
        "200":
          description: Label retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          label:
                            type: object
        "404":
          description: Label not found

  # Milestones endpoints
  /graphql:milestones:list:
    post:
      summary: List milestones for a repository
      description: Returns a list of milestones for the specified repository using GraphQL
      operationId: Milestones_List
      x-airbyte-entity: milestones
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.milestones.nodes
      tags:
        - Milestones
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: states
          in: query
          required: false
          description: Filter by milestone state
          schema:
            type: array
            items:
              type: string
              enum: [OPEN, CLOSED]
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListMilestones($owner: String!, $name: String!, $first: Int!, $after: String, $states: [MilestoneState!]) {
              repository(owner: $owner, name: $name) {
                milestones(first: $first, after: $after, states: $states, orderBy: {field: CREATED_AT, direction: DESC}) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
            states: "{{ states }}"
          default_fields: "id number title description state dueOn closedAt createdAt updatedAt progressPercentage issues { totalCount } pullRequests { totalCount }"

      responses:
        "200":
          description: List of milestones
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          milestones:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Repository not found

  /graphql:milestones:get:
    post:
      summary: Get a specific milestone
      description: Gets information about a specific milestone by number using GraphQL
      operationId: Milestones_Get
      x-airbyte-entity: milestones
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.repository.milestone
      tags:
        - Milestones
      parameters:
        - name: owner
          in: query
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: query
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: number
          in: query
          required: true
          description: The milestone number
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetMilestone($owner: String!, $name: String!, $number: Int!) {
              repository(owner: $owner, name: $name) {
                milestone(number: $number) {
                  {{ fields }}
                }
              }
            }
          variables:
            owner: "{{ owner }}"
            name: "{{ repo }}"
            number: "{{ number }}"
          default_fields: "id number title description state dueOn closedAt createdAt updatedAt progressPercentage issues { totalCount } pullRequests { totalCount }"

      responses:
        "200":
          description: Milestone retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      repository:
                        type: object
                        properties:
                          milestone:
                            type: object
        "404":
          description: Milestone not found

  # Organizations endpoints
  /graphql:organizations:get:
    post:
      summary: Get an organization
      description: Gets information about a specific organization using GraphQL
      operationId: Organizations_Get
      x-airbyte-entity: organizations
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.organization
      tags:
        - Organizations
      parameters:
        - name: org
          in: query
          required: true
          description: The organization login/username
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetOrganization($login: String!) {
              organization(login: $login) {
                {{ fields }}
              }
            }
          variables:
            login: "{{ org }}"
          default_fields: "id databaseId login name description email websiteUrl url avatarUrl createdAt updatedAt location isVerified repositories { totalCount } membersWithRole { totalCount } teams { totalCount }"

      responses:
        "200":
          description: Organization retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization:
                        type: object
        "404":
          description: Organization not found

  /graphql:organizations:list:
    post:
      summary: List organizations for a user
      description: Returns a list of organizations the user belongs to using GraphQL
      operationId: Organizations_List
      x-airbyte-entity: organizations
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.user.organizations.nodes
      tags:
        - Organizations
      parameters:
        - name: username
          in: query
          required: true
          description: The username of the user
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListOrganizations($login: String!, $first: Int!, $after: String) {
              user(login: $login) {
                organizations(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ username }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId login name description email websiteUrl url avatarUrl createdAt updatedAt location isVerified repositories { totalCount } membersWithRole { totalCount } teams { totalCount }"

      responses:
        "200":
          description: List of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          organizations:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: User not found

  # Users endpoints
  /graphql:users:get:
    post:
      summary: Get a user
      description: Gets information about a specific user using GraphQL
      operationId: Users_Get
      x-airbyte-entity: users
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.user
      tags:
        - Users
      parameters:
        - name: username
          in: query
          required: true
          description: The username of the user
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetUser($login: String!) {
              user(login: $login) {
                {{ fields }}
              }
            }
          variables:
            login: "{{ username }}"
          default_fields: "id databaseId login name email bio company location websiteUrl twitterUsername url avatarUrl createdAt updatedAt isHireable followers { totalCount } following { totalCount } repositories { totalCount } starredRepositories { totalCount } organizations { totalCount }"

      responses:
        "200":
          description: User retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
        "404":
          description: User not found

  /graphql:users:list:
    post:
      summary: List organization members
      description: Returns a list of members for the specified organization using GraphQL
      operationId: Users_List
      x-airbyte-entity: users
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.organization.membersWithRole.nodes
      tags:
        - Users
      parameters:
        - name: org
          in: query
          required: true
          description: The organization login/username
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListUsers($login: String!, $first: Int!, $after: String) {
              organization(login: $login) {
                membersWithRole(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ org }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId login name email bio company location websiteUrl twitterUsername url avatarUrl createdAt updatedAt isHireable followers { totalCount } following { totalCount } repositories { totalCount } starredRepositories { totalCount } organizations { totalCount }"

      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization:
                        type: object
                        properties:
                          membersWithRole:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Organization not found

  /graphql:users:search:
    post:
      summary: Search GitHub users
      description: Search for GitHub users using search syntax
      operationId: Users_Search
      x-airbyte-entity: users
      x-airbyte-action: search
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.search.nodes
      tags:
        - Users
      parameters:
        - name: query
          in: query
          required: true
          description: |
            GitHub user search query. Examples:
            - "location:san francisco"
            - "followers:>1000"
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query SearchUsers($searchQuery: String!, $first: Int!, $after: String) {
              search(query: $searchQuery, type: USER, first: $first, after: $after) {
                userCount
                pageInfo {
                  hasNextPage
                  endCursor
                }
                nodes {
                  ... on User {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            searchQuery: "{{ query }}"
            first: "{{ limit }}"
            after: "{{ after }}"
          default_fields: "id databaseId login name email bio company location websiteUrl twitterUsername url avatarUrl createdAt updatedAt isHireable followers { totalCount } following { totalCount } repositories { totalCount } starredRepositories { totalCount } organizations { totalCount }"

      responses:
        "200":
          description: User search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search:
                        type: object
                        properties:
                          userCount:
                            type: integer
                          pageInfo:
                            type: object
                            properties:
                              hasNextPage:
                                type: boolean
                              endCursor:
                                type:
                                  - string
                                  - "null"
                          nodes:
                            type: array
                            items:
                              type: object

  # Teams endpoints
  /graphql:teams:list:
    post:
      summary: List teams for an organization
      description: Returns a list of teams for the specified organization using GraphQL
      operationId: Teams_List
      x-airbyte-entity: teams
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.organization.teams.nodes
      tags:
        - Teams
      parameters:
        - name: org
          in: query
          required: true
          description: The organization login/username
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: The number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: after
          in: query
          required: false
          description: Cursor for pagination
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query ListTeams($login: String!, $first: Int!, $after: String) {
              organization(login: $login) {
                teams(first: $first, after: $after) {
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                  nodes {
                    {{ fields }}
                  }
                }
              }
            }
          variables:
            login: "{{ org }}"
            first: "{{ per_page }}"
            after: "{{ after }}"
          default_fields: "id databaseId slug name description privacy url avatarUrl createdAt updatedAt parentTeam { slug name } members { totalCount } repositories { totalCount }"

      responses:
        "200":
          description: List of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization:
                        type: object
                        properties:
                          teams:
                            type: object
                            properties:
                              pageInfo:
                                type: object
                                properties:
                                  hasNextPage:
                                    type: boolean
                                  endCursor:
                                    type:
                                      - string
                                      - "null"
                              nodes:
                                type: array
                                items:
                                  type: object
        "404":
          description: Organization not found

  /graphql:teams:get:
    post:
      summary: Get a specific team
      description: Gets information about a specific team using GraphQL
      operationId: Teams_Get
      x-airbyte-entity: teams
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      x-airbyte-record-extractor: $.data.organization.team
      tags:
        - Teams
      parameters:
        - name: org
          in: query
          required: true
          description: The organization login/username
          schema:
            type: string
        - name: team_slug
          in: query
          required: true
          description: The team slug
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Optional array of field names to select
          schema:
            type: array
            items:
              type: string

      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: |
            query GetTeam($login: String!, $slug: String!) {
              organization(login: $login) {
                team(slug: $slug) {
                  {{ fields }}
                }
              }
            }
          variables:
            login: "{{ org }}"
            slug: "{{ team_slug }}"
          default_fields: "id databaseId slug name description privacy url avatarUrl createdAt updatedAt parentTeam { slug name } members { totalCount } repositories { totalCount }"

      responses:
        "200":
          description: Team retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      organization:
                        type: object
                        properties:
                          team:
                            type: object
        "404":
          description: Team not found

  # Tags endpoints
  /graphql:tags:list:
    post:
      summary: List tags for a repository
      description: Returns a list of tags for the specified repository using GraphQL
      operationId: Tags_List
      x-airbyte-entity: tags
      x-airbyte-action: list
[...]
